<a href="https://colab.research.google.com/github/mshilpaa/ethereum-data-analysis/blob/master/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
balance = pd.read_csv('/content/gdrive/My Drive/project_data/balance.csv')
in_txn = pd.read_csv('/content/gdrive/My Drive/project_data/in_txn.csv')
out_txn = pd.read_csv('/content/gdrive/My Drive/project_data/out_txn.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
print(balance.shape)
print(balance.dtypes)
balance.head(5)

(2207451, 2)
address        object
eth_balance    object
dtype: object

                                      address        eth_balance
0  0x0fc50783a6f152a8fa81084a57bddb62ba55b98b   1511612688573000
1  0x1e92a10408a16f9c5b237c093ea3c6eef0ba5ff9  99265000000000000
2  0x7521b687354290490debd39a8323b18b2b04407f    790000000000000
3  0x3b96ad31625f31b68cd5fa27da74d11cf4a2f28f     72000000000000
4  0x27a60af4922b1f8a130c2c7dff6899d908b277af    152878000000000

In [5]:
in_txn.head(5)

                                      address  ...  tax_type
0  0xd4f8e83864c80ea703dd148c78b937cbec200243  ...        IN
1  0x2bbed5e19de4fef234845c9ccdddbbef7cd531ba  ...        IN
2  0xd9052a62ee61eec200c1972aa2a19fa3d5396b6d  ...        IN
3  0xe6b4a32cc822980d652bb185b33db6be69d39a13  ...        IN
4  0x450fbad4690c9800bbd3b3bb7f051e6bfc886b62  ...        IN

[5 rows x 4 columns]

In [6]:
in_txn.shape

(2207451, 4)

In [7]:
in_txn.dtypes

address                  object
no_of_in_transactions     int64
tot_ether_recieved       object
tax_type                 object
dtype: object

In [8]:
b_in_txn = pd.merge(in_txn, balance, on='address', how='inner')
b_in_txn.shape

(2207451, 5)

In [9]:
b_in_txn.head(5)

                                      address  ...          eth_balance
0  0xd4f8e83864c80ea703dd148c78b937cbec200243  ...     4750000000000000
1  0x2bbed5e19de4fef234845c9ccdddbbef7cd531ba  ...  4817282735760000000
2  0xd9052a62ee61eec200c1972aa2a19fa3d5396b6d  ...      260871337972799
3  0xe6b4a32cc822980d652bb185b33db6be69d39a13  ...   853144014361925765
4  0x450fbad4690c9800bbd3b3bb7f051e6bfc886b62  ...     6944170000000000

[5 rows x 5 columns]

In [10]:
out_txn.head(5)

                                      address  ...  tax_type
0  0xba78271348b5bd37230bd843b62961e90cdbda9f  ...       OUT
1  0xcd17ac69a5eb4fe8d24845bd9e342293ea712cda  ...       OUT
2  0x90df44d43bf6c7e640784689047799f6e07ae39f  ...       OUT
3  0xaba068925478543558c208dfca6ed31a87d44885  ...       OUT
4  0xe82967aeaad3ac6c3beb1b6fe28c2dcc6c71d44d  ...       OUT

[5 rows x 4 columns]

In [11]:
out_txn.shape

(2290371, 4)

In [12]:
out_txn.dtypes

address                   object
no_of_out_transactions     int64
tot_ether_sent            object
tax_type                  object
dtype: object

In [13]:
in_out_txn = pd.merge(b_in_txn, out_txn, on='address', how='inner')
in_out_txn.shape

(2207451, 8)

In [14]:
in_out_txn.dtypes

address                   object
no_of_in_transactions      int64
tot_ether_recieved        object
tax_type_x                object
eth_balance               object
no_of_out_transactions     int64
tot_ether_sent            object
tax_type_y                object
dtype: object

In [15]:
in_out_txn.head(5)

                                      address  ...  tax_type_y
0  0xd4f8e83864c80ea703dd148c78b937cbec200243  ...         OUT
1  0x2bbed5e19de4fef234845c9ccdddbbef7cd531ba  ...         OUT
2  0xd9052a62ee61eec200c1972aa2a19fa3d5396b6d  ...         OUT
3  0xe6b4a32cc822980d652bb185b33db6be69d39a13  ...         OUT
4  0x450fbad4690c9800bbd3b3bb7f051e6bfc886b62  ...         OUT

[5 rows x 8 columns]

In [0]:
tokens_recieved = pd.read_csv('/content/gdrive/My Drive/project_data/tokens_recieved.csv')
tokens_sent =pd.read_csv('/content/gdrive/My Drive/project_data/tokens_sent.csv')

In [17]:
tokens_recieved.head(5)

                                      address  ...  tot_token_value_recieved
0  0xa3e925f3df663b773bae436892336fc5c14f5e59  ...              1.218019e+11
1  0x70e80703d8600fed9e0866aca0ab5bed34c4ffab  ...              3.250000e+02
2  0x9d576af2018d73db762f4fefc9604d38a2776454  ...              1.969341e+25
3  0xdf1e02e9ef4a2a9cde52258b57e9a03aee807243  ...              3.356415e+10
4  0xb74d572e48fbce9c4f850e364c1f7e26e2f5ddcc  ...              2.423140e+20

[5 rows x 4 columns]

In [18]:
print(tokens_recieved.shape)
print(tokens_recieved.dtypes)

(935362, 4)
address                          object
tot_distinct_tokens_recieved      int64
tot_tokens_recieved               int64
tot_token_value_recieved        float64
dtype: object

In [19]:
tokens_sent.head(5)

                                      address  ...  tot_token_value_sent
0  0x0084a9ae7f74f6dc6bd294f4950663a447adf986  ...          1.258165e+15
1  0x9477556cd799d28bfa6b4d377c3e4fa0ff7562c4  ...          1.231724e+22
2  0x773a858b631fb7511767db57f2d3ee5181fceb5b  ...          7.560304e+22
3  0x372b42ecfd29057f9f1a4301351338596d564a85  ...          1.877333e+11
4  0x9aa63bdcff4b0e8a76077768d6b2188811d89b12  ...          3.431000e+22

[5 rows x 4 columns]

In [20]:
print(tokens_sent.shape)
print(tokens_sent.dtypes)

(793284, 4)
address                      object
tot_distinct_tokens_sent      int64
tot_tokens_sent               int64
tot_token_value_sent        float64
dtype: object

In [21]:
in_out_token_sent = pd.merge(in_out_txn,tokens_recieved, on='address', how='inner')
in_out_token_sent.shape

(935362, 11)

In [22]:
in_out_token_sent.dtypes

address                          object
no_of_in_transactions             int64
tot_ether_recieved               object
tax_type_x                       object
eth_balance                      object
no_of_out_transactions            int64
tot_ether_sent                   object
tax_type_y                       object
tot_distinct_tokens_recieved      int64
tot_tokens_recieved               int64
tot_token_value_recieved        float64
dtype: object

In [23]:
in_out_token_sent.head(5)

                                      address  ...  tot_token_value_recieved
0  0xd4f8e83864c80ea703dd148c78b937cbec200243  ...              9.393942e+06
1  0x2bbed5e19de4fef234845c9ccdddbbef7cd531ba  ...              8.888880e+13
2  0xd9052a62ee61eec200c1972aa2a19fa3d5396b6d  ...              1.870353e+11
3  0xe6b4a32cc822980d652bb185b33db6be69d39a13  ...              4.639691e+22
4  0x9f265a9675dea8f97139015f62c84af1f6d687ae  ...              2.000000e+20

[5 rows x 11 columns]

In [24]:
data1 = pd.merge(in_out_token_sent,tokens_sent, on='address', how='inner')
data1.shape

(776499, 14)

In [25]:
data1.head(5)

                                      address  ...  tot_token_value_sent
0  0xd4f8e83864c80ea703dd148c78b937cbec200243  ...          9.393942e+06
1  0xd9052a62ee61eec200c1972aa2a19fa3d5396b6d  ...          1.870353e+11
2  0xe6b4a32cc822980d652bb185b33db6be69d39a13  ...          4.260856e+22
3  0x9f265a9675dea8f97139015f62c84af1f6d687ae  ...          2.000000e+20
4  0xbad9298ef9a0c40ed1fb299a5e42269589aa15af  ...          1.000000e+20

[5 rows x 14 columns]

In [0]:
time_in = pd.read_csv('/content/gdrive/My Drive/project_data/time_bw_in.csv')

In [27]:
print(time_in.shape)
print(time_in.dtypes)
time_in.head(5)

(2207451, 3)
address                  object
no_of_in_transactions     int64
total_count               int64
dtype: object

                                      address  ...  total_count
0  0x5f4e3da6123d301ccee4c79bfcc3be5f782430cb  ...          525
1  0x666688760f7f4a2a8103b6fdf49fd116d52167cd  ...          452
2  0xa9aabf6a92acf0d4283b165716c5eebaffd76c84  ...           63
3  0xf9dc3e594609d3cffbc6e4f8d9f5ec2939dc9450  ...          271
4  0x19eb761ffdbe392433c014667a4023cfb546f17e  ...           14

[5 rows x 3 columns]

In [28]:
time_in['time_b/w_in_txn'] = time_in['no_of_in_transactions']/time_in['total_count']
time_in.head(5)

                                      address  ...  time_b/w_in_txn
0  0x5f4e3da6123d301ccee4c79bfcc3be5f782430cb  ...    155030.123810
1  0x666688760f7f4a2a8103b6fdf49fd116d52167cd  ...    142373.081858
2  0xa9aabf6a92acf0d4283b165716c5eebaffd76c84  ...    299208.015873
3  0xf9dc3e594609d3cffbc6e4f8d9f5ec2939dc9450  ...    144749.365314
4  0x19eb761ffdbe392433c014667a4023cfb546f17e  ...    634179.285714

[5 rows x 4 columns]

In [0]:
time_in = time_in.drop('no_of_in_transactions',axis=1)
time_in = time_in.drop('total_count',axis=1)

In [30]:
time_in.isna().sum()

address            0
time_b/w_in_txn    0
dtype: int64

In [31]:
data2 = pd.merge(data1,time_in, on='address',how='inner')
data2.shape

(776499, 15)

In [32]:
data2.head(5)

                                      address  ...  time_b/w_in_txn
0  0xd4f8e83864c80ea703dd148c78b937cbec200243  ...     1.156452e+05
1  0xd9052a62ee61eec200c1972aa2a19fa3d5396b6d  ...     1.042143e+06
2  0xe6b4a32cc822980d652bb185b33db6be69d39a13  ...     1.320557e+06
3  0x9f265a9675dea8f97139015f62c84af1f6d687ae  ...     3.701651e+05
4  0xbad9298ef9a0c40ed1fb299a5e42269589aa15af  ...     2.403451e+05

[5 rows x 15 columns]

In [0]:
time_out = pd.read_csv('/content/gdrive/My Drive/project_data/time_bw_out.csv')

In [34]:
print(time_out.shape)
print(time_out.dtypes)
time_out.head(5)

(2207451, 3)
address                   object
no_of_out_transactions     int64
total_out_count            int64
dtype: object

                                      address  ...  total_out_count
0  0x24ba2abd922bacdd1902e4f5064fe9665c7dc1f7  ...              471
1  0x459a2fe55548417c3d16014a846ab670dd8028bc  ...               51
2  0x0d6d8b96306b45515ea54b10c49562c0f9db0863  ...              448
3  0xd99b25c518320820d3c5ae9f47378da32ded5f00  ...              472
4  0x3a067320af71f324e56ed9353118a645aa38ba01  ...               27

[5 rows x 3 columns]

In [0]:
time_out['time_b/w_out_txn'] = time_out['no_of_out_transactions']/time_out['total_out_count']

Find no. of values with inf

In [36]:
len(time_out['time_b/w_out_txn'].index[np.isinf(time_out['time_b/w_out_txn'])])

0

In [0]:
time_out = time_out.drop('no_of_out_transactions',axis=1)
time_out = time_out.drop('total_out_count',axis=1)

In [38]:
time_out.head(5)

                                      address  time_b/w_out_txn
0  0x24ba2abd922bacdd1902e4f5064fe9665c7dc1f7      1.275589e+05
1  0x459a2fe55548417c3d16014a846ab670dd8028bc      2.606621e+05
2  0x0d6d8b96306b45515ea54b10c49562c0f9db0863      2.146814e+05
3  0xd99b25c518320820d3c5ae9f47378da32ded5f00      8.862524e+04
4  0x3a067320af71f324e56ed9353118a645aa38ba01      1.068919e+06

In [39]:
time_out.isna().sum()

address             0
time_b/w_out_txn    0
dtype: int64

In [40]:
data3 = pd.merge(data2,time_out, on='address',how='inner')
data3.shape

(776499, 16)

In [0]:
active_months = pd.read_csv('/content/gdrive/My Drive/project_data/active_month.csv')

In [42]:
print(active_months.shape)
print(active_months.dtypes)
active_months.head(5)

(2207451, 2)
address          object
active_months     int64
dtype: object

                                      address  active_months
0  0x2094eb28b9df87c0bed7faaeb88e217dca701ebf             20
1  0x5828fba83c8bb931f3a412646915c164e7fdcd5c             18
2  0x20ca0d22f83638bbfcfec77c437584456bcb298a             11
3  0x85adbe454a0d4fc025d446cc5000d4c47d379cbf             16
4  0x4320cf7280a27a35a29a59c75b8e05f6a7ba2646             14

In [43]:
data4 = pd.merge(data3,active_months, on='address',how='inner')
print(data4.shape)
data4.head(5)

(776499, 17)

                                      address  ...  active_months
0  0xd4f8e83864c80ea703dd148c78b937cbec200243  ...              2
1  0xd9052a62ee61eec200c1972aa2a19fa3d5396b6d  ...              6
2  0xe6b4a32cc822980d652bb185b33db6be69d39a13  ...              5
3  0x9f265a9675dea8f97139015f62c84af1f6d687ae  ...              4
4  0xbad9298ef9a0c40ed1fb299a5e42269589aa15af  ...             14

[5 rows x 17 columns]

**Monthly Outgoing Transactions**

In [44]:
monthly_out_txn = pd.read_csv('/content/gdrive/My Drive/project_data/monthly_out_txn.csv',names=['address','monthly_out_txn'])

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
monthly_out_txn = monthly_out_txn.drop([0],axis=0)

In [46]:
print(monthly_out_txn.shape)
print(monthly_out_txn.dtypes)
monthly_out_txn.head(5)

(2207451, 2)
address            object
monthly_out_txn    object
dtype: object

                                      address     monthly_out_txn
1  0x1bb67106002c82e80793aad1ff51032bf3b72f81                  25
2  0x931cf1c5a0a60bc256870ed2a998160901af560f  1.1666666666666667
3  0xd232ca4ea085295a1c7186dd05fa01e077d7c003                 4.5
4  0x52137266b4afb6d61df87d1924466fea0b2308ad                2.25
5  0x12a904c42555df6e0d2a5068c2d8e15a71a9ca5a                 1.4

In [47]:
data5 = pd.merge(data4,monthly_out_txn, on='address',how='inner')
print(data5.shape)
data5.head(5)

(776499, 18)

                                      address  ...    monthly_out_txn
0  0xd4f8e83864c80ea703dd148c78b937cbec200243  ...               48.5
1  0xd9052a62ee61eec200c1972aa2a19fa3d5396b6d  ...                5.5
2  0xe6b4a32cc822980d652bb185b33db6be69d39a13  ...               21.5
3  0x9f265a9675dea8f97139015f62c84af1f6d687ae  ...                1.5
4  0xbad9298ef9a0c40ed1fb299a5e42269589aa15af  ...  4.384615384615385

[5 rows x 18 columns]

In [0]:
monthly_in_txn =pd.read_csv('/content/gdrive/My Drive/project_data/monthly_in_txn.csv')

In [49]:
print(monthly_in_txn.shape)
print(monthly_in_txn.dtypes)
monthly_in_txn.head(5)

(2207451, 2)
address            object
monthly_in_txn    float64
dtype: object

                                      address  monthly_in_txn
0  0x2f9d0ccb752044e15cc23df93dbb18f1e21b96f0       26.000000
1  0xa425a78f6e0ab8a65d26af633b40961813950090        3.111111
2  0x3793fc30ad9c1c6964281fd017dee2632c16d00e        1.666667
3  0x63111cc3b805d5a8acee25cdf98e2b99e26d699e        6.000000
4  0x59f7a70df21df324d6af4d472611253e013f2ea9        4.500000

In [50]:
data = pd.merge(data5,monthly_in_txn, on='address',how='inner')
data.shape

(776499, 19)

In [51]:
data.head(5)

                                      address  ...  monthly_in_txn
0  0xd4f8e83864c80ea703dd148c78b937cbec200243  ...        9.000000
1  0xd9052a62ee61eec200c1972aa2a19fa3d5396b6d  ...        2.500000
2  0xe6b4a32cc822980d652bb185b33db6be69d39a13  ...        3.400000
3  0x9f265a9675dea8f97139015f62c84af1f6d687ae  ...        5.000000
4  0xbad9298ef9a0c40ed1fb299a5e42269589aa15af  ...       10.923077

[5 rows x 19 columns]

**Drop unnecessary columns**

In [0]:
data = data.drop('tax_type_x',axis=1)
data = data.drop('tax_type_y',axis=1)
data = data.drop('tot_distinct_tokens_recieved',axis=1)
data = data.drop('tot_tokens_recieved',axis=1)
data = data.drop('tot_distinct_tokens_sent',axis=1)
data = data.drop('tot_tokens_sent',axis=1)

In [53]:
print(data.shape)
print(data.dtypes)

(776499, 13)
address                      object
no_of_in_transactions         int64
tot_ether_recieved           object
eth_balance                  object
no_of_out_transactions        int64
tot_ether_sent               object
tot_token_value_recieved    float64
tot_token_value_sent        float64
time_b/w_in_txn             float64
time_b/w_out_txn            float64
active_months                 int64
monthly_out_txn              object
monthly_in_txn              float64
dtype: object

In [0]:
data['monthly_ether_sent']=0
data['monthly_ether_recieved']=0
data['monthly_ether_sent']= data['monthly_ether_sent'].div(data['active_months'])
data['monthly_ether_recieved']= data['monthly_ether_recieved'].div(data['active_months'])

In [55]:
print('inf in monthly_ether_sent',len(data['monthly_ether_sent'].index[np.isinf(data['monthly_ether_sent'])]))
print('inf in monthly_ether_recieved',len(data['monthly_ether_recieved'].index[np.isinf(data['monthly_ether_recieved'])]))

inf in monthly_ether_sent 0
inf in monthly_ether_recieved 0

**wei to ether conversion**  - Some attributes in the table are all in wei.They are converted to ether using the conversion: 1 ether = 1x10^18 wei

In [56]:
wei = pow(10,18) 
attributes = ['no_of_in_transactions', 'tot_ether_recieved','no_of_out_transactions', 'tot_ether_sent', 'tot_token_value_recieved','tot_token_value_sent', 'monthly_ether_sent', 'monthly_ether_recieved']
for attr in attributes:
  if data[attr].dtype == 'object':
    data[attr] = pd.to_numeric(data[attr], errors='coerce')
  data[attr] = data[attr].div(wei)

data.head(10)

                                      address  ...  monthly_ether_recieved
0  0xd4f8e83864c80ea703dd148c78b937cbec200243  ...                     0.0
1  0xd9052a62ee61eec200c1972aa2a19fa3d5396b6d  ...                     0.0
2  0xe6b4a32cc822980d652bb185b33db6be69d39a13  ...                     0.0
3  0x9f265a9675dea8f97139015f62c84af1f6d687ae  ...                     0.0
4  0xbad9298ef9a0c40ed1fb299a5e42269589aa15af  ...                     0.0
5  0x79499a059830aa6fd6b40490b7de68b1c720529c  ...                     0.0
6  0xb90f3ec5d52aac0b829ff2fbb8b2578091e37528  ...                     0.0
7  0x92f2ffc2df773f23ead318c6a66d66c008234a39  ...                     0.0
8  0x93f8a1e863a4dadef1b174574fd13db9969fed2e  ...                     0.0
9  0x53aede30f584e9d9a7548ae8794526e85bba6bdd  ...                     0.0

[10 rows x 15 columns]

In [57]:
data.isna().sum()

address                     0
no_of_in_transactions       0
tot_ether_recieved          0
eth_balance                 0
no_of_out_transactions      0
tot_ether_sent              0
tot_token_value_recieved    0
tot_token_value_sent        0
time_b/w_in_txn             0
time_b/w_out_txn            0
active_months               0
monthly_out_txn             0
monthly_in_txn              0
monthly_ether_sent          0
monthly_ether_recieved      0
dtype: int64

In [0]:
data['eth_balance'] = pd.to_numeric(data['eth_balance'],errors='coerce')
data['monthly_out_txn'] = pd.to_numeric(data['monthly_out_txn'],errors='coerce')

In [59]:
data.dtypes

address                      object
no_of_in_transactions       float64
tot_ether_recieved          float64
eth_balance                 float64
no_of_out_transactions      float64
tot_ether_sent              float64
tot_token_value_recieved    float64
tot_token_value_sent        float64
time_b/w_in_txn             float64
time_b/w_out_txn            float64
active_months                 int64
monthly_out_txn             float64
monthly_in_txn              float64
monthly_ether_sent          float64
monthly_ether_recieved      float64
dtype: object

In [0]:
data.to_csv(r'/content/gdrive/My Drive/project_data/final_data.csv', index = False)