<a href="https://colab.research.google.com/github/mshilpaa/ethereum-data-analysis/blob/master/Data_Preprocessing_malicious_txn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
in_out = pd.read_csv('/content/gdrive/My Drive/project_data/malicious_in_out.csv')
balance = pd.read_csv('/content/gdrive/My Drive/project_data/malicious_balance.csv')
monthly = pd.read_csv('/content/gdrive/My Drive/project_data/malicious_monthly.csv')
active = pd.read_csv('/content/gdrive/My Drive/project_data/malicious_active_months.csv')
time_bw_txn = pd.read_csv('/content/gdrive/My Drive/project_data/malicious_time_bw_txn.csv')
token = pd.read_csv('/content/gdrive/My Drive/project_data/malicious_token.csv')

In [4]:
print(in_out.shape)
print(in_out.dtypes)
in_out.head(5)

(256, 6)
address1                   object
address2                   object
no_of_out_transactions    float64
tot_ether_sent             object
no_of_in_transactions       int64
tot_ether_recieved         object
dtype: object

                                     address1  ...     tot_ether_recieved
0  0xbc85a12364c9e375801c00aad17b893fc4c8f5b6  ...    2814843618099494913
1  0xaca33c43bd8deac8e1d144baa51fe9c7dd7b010f  ...  740700000000000000000
2                                         NaN  ...                      0
3  0xe4faeef4002c200d9d4f1d381ccb5fb679d1c437  ...    1418314490000000000
4  0xc169a0e826f22fc7d37a48aaa346ffb4521c35cd  ...   36669664048000000000

[5 rows x 6 columns]

In [5]:
in_out.isna().sum()

address1                  133
address2                    0
no_of_out_transactions    133
tot_ether_sent            133
no_of_in_transactions       0
tot_ether_recieved          0
dtype: int64

In [6]:
print(balance.shape)
print(balance.dtypes)
balance.head(5)

(262, 2)
address        object
eth_balance    object
dtype: object

                                      address       eth_balance
0  0xddff022e4befa69cbb5262446a8ae564700bea24                 0
1  0x116574a18659f0063150e0064e4ea00349a1492c                 0
2  0xce52d38539e1e557f184f1073a59f69c9ba95f28                 0
3  0x5b67a30108e1a5f3d5a809d57e76cd16fdfde7a7  6000000000000000
4  0xa8454096f4a18e0252b411f670b3dd9d21465e75                 0

In [7]:
balance.isna().sum()

address        0
eth_balance    0
dtype: int64

In [8]:
print(monthly.shape)
print(monthly.dtypes)
monthly.head(5)

(256, 4)
address1            object
address2            object
monthly_out_txn    float64
monthly_in_txn     float64
dtype: object

                                     address1  ... monthly_in_txn
0  0xbc85a12364c9e375801c00aad17b893fc4c8f5b6  ...           2.25
1  0x2056d2e97cc9ad78cf527b382495a8b9704ce011  ...           3.00
2                                         NaN  ...           2.50
3  0xf4c87c851d772b0f9e72cca0690327f2bc505015  ...           5.00
4  0xd3d7c71e4c5b1ff2f42fbb9b4a21f3373aa8b3b0  ...           2.00

[5 rows x 4 columns]

In [9]:
monthly.isna().sum()

address1           133
address2             0
monthly_out_txn    133
monthly_in_txn       0
dtype: int64

In [10]:
print(active.shape)
print(active.dtypes)
active.head(5)

(256, 2)
address          object
active_months     int64
dtype: object

                                      address  active_months
0  0x22eb0b23e5ad7ef827aff13b2e40ed63e277844e              7
1  0x68a91eba9c82b475091077e16357bb2dded479f4              1
2  0x5bc989f38ec9b913b0fbd8b702858214d428a1bd              2
3  0xd0cc2b24980cbcca47ef755da88b220a82291407              3
4  0xe1632e7e0dc135f3bc8991b917e8b682ab340fe1              3

In [11]:
active.isna().sum()

address          0
active_months    0
dtype: int64

In [12]:
print(time_bw_txn.shape)
print(time_bw_txn.dtypes)
time_bw_txn.head(5)

(256, 6)
address1            object
no_of_in_txn         int64
total_count          int64
address2            object
no_of_out_txn      float64
total_out_count    float64
dtype: object

                                     address1  ...  total_out_count
0  0x116574a18659f0063150e0064e4ea00349a1492c  ...              NaN
1  0x47dc6f08214f891cc910d6d2abfb504c2584f14f  ...              NaN
2  0xaa1886de3f70a3ef502ea1379a311c5b4e05f3fd  ...             28.0
3  0x0a4392f623faf54de72cbf6f567e1a7808251cd3  ...              4.0
4  0x91ef0754d270e67f2ca92595f5a1c0459ec7df89  ...              NaN

[5 rows x 6 columns]

In [0]:
def drop_columns(df,columns=[]):
  for i in columns:
    df = df.drop(i,axis=1)
  return df

In [0]:
time_bw_txn['time_b/w_out_txn'] = time_bw_txn['no_of_out_txn'].div(time_bw_txn['total_out_count'])
time_bw_txn['time_b/w_in_txn'] = time_bw_txn['no_of_in_txn'].div(time_bw_txn['total_count'])

In [0]:
time_bw_txn = drop_columns(time_bw_txn,['no_of_in_txn','total_count',	'no_of_out_txn',	'total_out_count'])

In [16]:
time_bw_txn.isna().sum()

address1              0
address2            133
time_b/w_out_txn    133
time_b/w_in_txn       0
dtype: int64

In [17]:
print(token.shape)
print(token.dtypes)
token.head(5)

(103, 8)
address1                         object
address2                         object
tot_distinct_tokens_recieved      int64
tot_tokens_recieved               int64
tot_token_value_recieved        float64
tot_distinct_tokens_sent        float64
tot_tokens_sent                 float64
tot_token_value_sent            float64
dtype: object

                                     address1  ... tot_token_value_sent
0  0xaca33c43bd8deac8e1d144baa51fe9c7dd7b010f  ...         5.231796e+23
1  0x858457daa7e087ad74cdeeceab8419079bc2ca03  ...         9.581459e+23
2  0xda657e9fa116900fab8178e5580a3a6cedd89f3c  ...         4.092339e+23
3  0x4de76b3dfd38292ba71cf2465ca3a1d526dcb567  ...                  NaN
4  0x35ad1cb9a39de486cebcce3cf51661fd6c848193  ...                  NaN

[5 rows x 8 columns]

In [18]:
token.isna().sum()

address1                         0
address2                        59
tot_distinct_tokens_recieved     0
tot_tokens_recieved              0
tot_token_value_recieved         0
tot_distinct_tokens_sent        59
tot_tokens_sent                 59
tot_token_value_sent            59
dtype: int64

In [0]:
def combine_columns(df,column1,column2,new_column):
  df[new_column] = '' 
  for i in range(len(df)):
    if df[column1].iloc[i] == df[column2].iloc[i] or df[column2].iloc[i] == 'NaN':
      df[new_column].iloc[i] = df[column1].iloc[i]
    else:
      df[new_column].iloc[i] = df[column2].iloc[i]
  df = df.drop(column1,axis=1)
  df = df.drop(column2,axis=1)
  return df

In [20]:
in_out = combine_columns(in_out,'address1','address2','address')
monthly= combine_columns(monthly,'address1','address2','address')
token = combine_columns(token,'address1','address2','address')
time_bw_txn = combine_columns(time_bw_txn,'address1','address2','address')

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [0]:
df = pd.merge(in_out,monthly,how='inner' , on='address')
df = pd.merge(df,active,how='inner' , on='address')
df = pd.merge(df,balance,how='inner' , on='address')

In [32]:
print(df.shape)
print(df.isna().sum())

(256, 9)
no_of_out_transactions    133
tot_ether_sent            133
no_of_in_transactions       0
tot_ether_recieved          0
address                     0
monthly_out_txn           133
monthly_in_txn              0
active_months               0
eth_balance                 0
dtype: int64

In [0]:
df= pd.merge(df,time_bw_txn,how='left' , on='address')

In [34]:
print(df.shape)
print(df.isna().sum())

(256, 11)
no_of_out_transactions    133
tot_ether_sent            133
no_of_in_transactions       0
tot_ether_recieved          0
address                     0
monthly_out_txn           133
monthly_in_txn              0
active_months               0
eth_balance                 0
time_b/w_out_txn          133
time_b/w_in_txn           133
dtype: int64

In [0]:
df = pd.merge(df,token,how='left' , on='address')

In [36]:
print(df.shape)
print(df.isna().sum())

(256, 17)
no_of_out_transactions          133
tot_ether_sent                  133
no_of_in_transactions             0
tot_ether_recieved                0
address                           0
monthly_out_txn                 133
monthly_in_txn                    0
active_months                     0
eth_balance                       0
time_b/w_out_txn                133
time_b/w_in_txn                 133
tot_distinct_tokens_recieved    212
tot_tokens_recieved             212
tot_token_value_recieved        212
tot_distinct_tokens_sent        212
tot_tokens_sent                 212
tot_token_value_sent            212
dtype: int64

In [39]:
print(df.dtypes)
df.head(5)

no_of_out_transactions          float64
tot_ether_sent                   object
no_of_in_transactions             int64
tot_ether_recieved               object
address                          object
monthly_out_txn                 float64
monthly_in_txn                  float64
active_months                     int64
eth_balance                      object
time_b/w_out_txn                float64
time_b/w_in_txn                 float64
tot_distinct_tokens_recieved    float64
tot_tokens_recieved             float64
tot_token_value_recieved        float64
tot_distinct_tokens_sent        float64
tot_tokens_sent                 float64
tot_token_value_sent            float64
dtype: object

   no_of_out_transactions  ... tot_token_value_sent
0                     8.0  ...                  NaN
1                    42.0  ...         5.231796e+23
2                     NaN  ...                  NaN
3                     6.0  ...                  NaN
4                     1.0  ...                  NaN

[5 rows x 17 columns]

In [0]:
df = df.fillna(0)

In [0]:
df = drop_columns(df,['tot_distinct_tokens_recieved','tot_tokens_recieved','tot_distinct_tokens_sent','tot_tokens_sent'])

In [0]:
df['eth_balance'] = pd.to_numeric(df['eth_balance'], downcast="float",errors='coerce')
df['monthly_out_txn'] = pd.to_numeric(df['monthly_out_txn'], downcast="float",errors='coerce')
df['tot_ether_sent'] = pd.to_numeric(df['tot_ether_sent'], downcast="float",errors='coerce')
df['tot_ether_recieved'] = pd.to_numeric(df['tot_ether_recieved'], downcast="float",errors='coerce')

In [0]:
df['monthly_ether_sent']=0
df['monthly_ether_recieved']=0
df['monthly_ether_sent']= df['tot_ether_sent' ].div(df['active_months'])
df['monthly_ether_recieved']= df['tot_ether_recieved'].div(df['active_months'])

In [44]:
wei = pow(10,18) 
attributes = ['eth_balance', 'tot_ether_recieved', 'tot_ether_sent', 'tot_token_value_recieved','tot_token_value_sent', 'monthly_ether_sent', 'monthly_ether_recieved']
for attr in attributes:
  if df[attr].dtype == 'object':
    df[attr] = pd.to_numeric(df[attr], errors='coerce')
  df[attr] = df[attr].div(wei)

df.head(10)

   no_of_out_transactions  ...  monthly_ether_recieved
0                     8.0  ...                0.703711
1                    42.0  ...              740.699994
2                     0.0  ...                0.000000
3                     6.0  ...                1.418314
4                     1.0  ...               18.334832
5                     0.0  ...                0.000000
6                     2.0  ...               42.100181
7                   109.0  ...              815.288681
8                     0.0  ...                0.000000
9                     1.0  ...                0.223000

[10 rows x 15 columns]

In [45]:
print(df.shape)
print(df.dtypes)

(256, 15)
no_of_out_transactions      float64
tot_ether_sent              float64
no_of_in_transactions         int64
tot_ether_recieved          float64
address                      object
monthly_out_txn             float32
monthly_in_txn              float64
active_months                 int64
eth_balance                 float64
time_b/w_out_txn            float64
time_b/w_in_txn             float64
tot_token_value_recieved    float64
tot_token_value_sent        float64
monthly_ether_sent          float64
monthly_ether_recieved      float64
dtype: object

In [0]:
df.to_csv(r'/content/gdrive/My Drive/project_data/malicious_txn_data.csv', index = False)