<a href="https://colab.research.google.com/github/mshilpaa/ethereum-data-analysis/blob/master/ethereum_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:

# mount gdrive and unzip data
from google.colab import drive
drive.mount('/content/drive')

%ls

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
drive/  sample_data/

24 attributes


* outgoing_txns	 - outgoing taxes(txn_type = OUT)

* incoming_txns  -  incoming taxes(txn_type = IN)

* total_eth_sent - total of all ether where txn_type = OUT

* avg_eth_sent  = total ether sent/ total no. of transactions of that addr.

* total_usd_sent = total $ sent

* avg_usd_sent	= total $ sent/ total no. of transactions of that addr.

* total_eth_recd	is total ether recieved = total of all ether where (txn_type = IN)

* avg_eth_recd	= total ether recieved/ total no. of transactions of that addr.

* total_usd_recd	= total $ recieved

* avg_usd_recd	= total $ sent/ total no. of transactions of that addr.

* active_months = count of no. of active months

* monthly_outgoing_txns - for outgoing taxes(txn_type = OUT)

* monthly_incoming_txns - for incoming taxes(txn_type = IN)

* monthly_eth_sent - for outgoing taxes(txn_type = OUT)	

* monthly_usd_sent - for outgoing taxes(txn_type = OUT)

* monthly_eth_recd - for incoming taxes(txn_type = IN)

* monthly_usd_recd - for incoming taxes(txn_type = IN)

* contracts_created - Data not available

* contract_txns_sent - Data not available	

* incoming_avg_time_btwn_txns	
* incoming_std_time_btwn_txns	
* outgoing_avg_time_btwn_txns	
* outgoing_std_time_btwn_txns	
* num_tokens_used	eth_balance - not scraped

In [3]:
balance1 = pd.read_csv("/content/drive/My Drive/ethereum/balance_data.csv", names = ["index",	"Address",	"Balance(in Ether)",	"Ether_value",	"Token(in $)"])
balance1.head()

   index  ...      Token(in $)
0    NaN  ...            Token
1    0.0  ...       $43,337.49
2    1.0  ...  $972,391,367.87
3    2.0  ...  $760,226,604.60
4    3.0  ...       $61,061.89

[5 rows x 5 columns]

In [0]:
# drop the row with column names
balance1 = balance1.drop([0],axis = 0)

In [5]:
balance1.head()

   index  ...      Token(in $)
1    0.0  ...       $43,337.49
2    1.0  ...  $972,391,367.87
3    2.0  ...  $760,226,604.60
4    3.0  ...       $61,061.89
5    4.0  ...      $166,680.94

[5 rows x 5 columns]

In [6]:
# no. of instances
len(balance1)

25

In [7]:
# column names
list(balance1.columns)

['index', 'Address', 'Balance(in Ether)', 'Ether_value', 'Token(in $)']

In [8]:
balance2 = pd.read_csv("/content/drive/My Drive/ethereum/balance_data1.csv", names = ["index",	"Address",	"Balance(in Ether)",	"Ether_value",	"Token(in $)"])
balance2.head()

   index  ...        Token(in $)
0      0  ...         $40,227.34
1      1  ...  $1,019,385,392.03
2      2  ...    $755,977,404.08
3      3  ...         $64,322.42
4      4  ...        $172,229.71

[5 rows x 5 columns]

In [9]:
len(balance2)

2208

In [10]:
list(balance2.columns)

['index', 'Address', 'Balance(in Ether)', 'Ether_value', 'Token(in $)']

In [11]:
# concatenate the two files but make sure that their column names match
balance = pd.concat([balance1, balance2], ignore_index=True, names = ["index",	"Address",	"Balance(in Ether)",	"Ether_value",	"Token(in $)"])
balance.head()

   index  ...      Token(in $)
0    0.0  ...       $43,337.49
1    1.0  ...  $972,391,367.87
2    2.0  ...  $760,226,604.60
3    3.0  ...       $61,061.89
4    4.0  ...      $166,680.94

[5 rows x 5 columns]

In [12]:
len(balance)

2233

In [13]:
list(balance.columns)

['index', 'Address', 'Balance(in Ether)', 'Ether_value', 'Token(in $)']

Convert to dataframe

In [14]:
balance = pd.DataFrame(balance)
balance.head()

   index  ...      Token(in $)
0    0.0  ...       $43,337.49
1    1.0  ...  $972,391,367.87
2    2.0  ...  $760,226,604.60
3    3.0  ...       $61,061.89
4    4.0  ...      $166,680.94

[5 rows x 5 columns]

In [0]:
# Remove the first column as it only the index
balance = balance.drop(['index'], axis=1)

In [16]:
balance.head(20)

                                       Address  ...      Token(in $)
0   0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...       $43,337.49
1   0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...  $972,391,367.87
2   0x742d35cc6634c0532925a3b844bc454e4438f44e  ...  $760,226,604.60
3   0xdc76cd25977e0a5ae17155770273ad58648900d3  ...       $61,061.89
4   0x53d284357ec70ce289d6d64134dfac8e511c8a3d  ...      $166,680.94
5   0xab7c74abc0c4d48d1bdad5dcb26153fc8780f83e  ...      $159,973.57
6   0xe853c56864a2ebe4576a807d26fdc4a0ada51919  ...      $337,738.70
7   0x997114ca0830e9bee7443368fa27f4af2d4e55a6  ...            $1.10
8   0x66f820a414680b5bcda5eeca5dea238543f42054  ...  $404,372,462.56
9   0x61edcdf5bb737adffe5043706e7c5bb1f1a56eea  ...       $63,545.97
10  0x229b5c097f9b35009ca1321ad2034d4b3d5070f6  ...       $14,819.52
11  0x267f70f9b856de226fea5fc1b0a8e319c72ceff5  ...      $339,774.34
12  0xde0b295669a9fd93d5f28d9ec85e40f4cb697bae  ...       $88,604.22
13  0x1b3cb81e51011b549d78bf720b0d924ac763a7c2  ...       $67,664.89
14  0x07ee55aa48bb72dcc6e9d78256648910de513eca  ...       $76,136.29
15  0xc11d52cbb5b19c1802097e448beff8bf35942946  ...       $17,693.92
16  0xe92d1a43df510f82c66382592a047d288f85226f  ...       $10,141.27
17  0x73bceb1cd57c711feac4224d062b0f6ff338501e  ...        $7,826.70
18  0xd273bd546b11bd60214a2f9d71f22a088aafe31b  ...          $260.03
19  0x4ddc2d193948926d02f9b1fe9e1daa0718270ed5  ...       $10,854.81

[20 rows x 4 columns]

In [17]:
list(balance.columns)

['Address', 'Balance(in Ether)', 'Ether_value', 'Token(in $)']

In [0]:
# replace 'Ether' and ',' in the Balance(in Ether) column with '' and convert it to float using to_numeric
balance['Balance(in Ether)'] = balance['Balance(in Ether)'].str.replace('Ether', '') 
balance['Balance(in Ether)'] = pd.to_numeric(balance['Balance(in Ether)'].str.replace(',', ''))

In [0]:
# replace '$' and ',' in the Token(in $) column with '' and convert it to float using to_numeric
balance['Token(in $)'] = balance['Token(in $)'].str.replace('$', '')
balance['Token(in $)'] = pd.to_numeric(balance['Token(in $)'].str.replace(',', ''))

In [20]:
print(balance.dtypes)

Address               object
Balance(in Ether)    float64
Ether_value           object
Token(in $)          float64
dtype: object

In [21]:
balance.head()

                                      Address  ...   Token(in $)
0  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  4.333749e+04
1  0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...  9.723914e+08
2  0x742d35cc6634c0532925a3b844bc454e4438f44e  ...  7.602266e+08
3  0xdc76cd25977e0a5ae17155770273ad58648900d3  ...  6.106189e+04
4  0x53d284357ec70ce289d6d64134dfac8e511c8a3d  ...  1.666809e+05

[5 rows x 4 columns]

In [0]:
# split the 'Ether_value' column into 2 columns 
balance[['Total Ether_value(in $)','$ per Ether']] = balance["Ether_value"].str.split("(",expand=True)

In [0]:
# Remove the "Ether_value" column as it is not needed anymore
balance = balance.drop(['Ether_value'], axis=1)

In [24]:
balance.head()

                                      Address  ...     $ per Ether
0  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  @ $268.94/ETH)
1  0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...  @ $268.94/ETH)
2  0x742d35cc6634c0532925a3b844bc454e4438f44e  ...  @ $268.94/ETH)
3  0xdc76cd25977e0a5ae17155770273ad58648900d3  ...  @ $270.01/ETH)
4  0x53d284357ec70ce289d6d64134dfac8e511c8a3d  ...  @ $270.01/ETH)

[5 rows x 5 columns]

In [0]:
# replace '$' and ',' with '' and convert it to float using to_numeric
balance["Total Ether_value(in $)"] = balance["Total Ether_value(in $)"].str.replace('$','')
balance["Total Ether_value(in $)"] = pd.to_numeric(balance["Total Ether_value(in $)"].str.replace(',',''))

In [0]:
# replace '$','@ ')','/ETH' with '' and convert it to float using to_numeric
balance["$ per Ether"] = balance["$ per Ether"].str.replace('$','')
balance["$ per Ether"] = balance["$ per Ether"].str.replace('@','')
balance["$ per Ether"] = balance["$ per Ether"].str.replace(')','')
balance["$ per Ether"] = pd.to_numeric(balance["$ per Ether"].str.replace("/ETH",""))

In [27]:
balance.head()

                                      Address  ...  $ per Ether
0  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...       268.94
1  0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...       268.94
2  0x742d35cc6634c0532925a3b844bc454e4438f44e  ...       268.94
3  0xdc76cd25977e0a5ae17155770273ad58648900d3  ...       270.01
4  0x53d284357ec70ce289d6d64134dfac8e511c8a3d  ...       270.01

[5 rows x 5 columns]

In [28]:
balance.dtypes

Address                     object
Balance(in Ether)          float64
Token(in $)                float64
Total Ether_value(in $)    float64
$ per Ether                float64
dtype: object

In [29]:

transaction = pd.read_csv("/content/drive/My Drive/ethereum/transaction_data.csv",)
# del transaction["filename"] # remove unwanted column
transaction.head()

   Unnamed: 0  ...     Txn_fee
0           0  ...   (Pending)
1           1  ...   (Pending)
2           2  ...   (Pending)
3           3  ...   (Pending)
4           4  ...  0.00057476

[5 rows x 10 columns]

In [30]:
list(transaction.columns)

['Unnamed: 0',
 'Address',
 'Txn_hash',
 'blocks',
 'date',
 'from',
 'txn_type',
 'to',
 'value',
 'Txn_fee']

In [31]:
len(transaction)

7069

In [32]:
transaction = pd.DataFrame(transaction)
transaction.head()

   Unnamed: 0  ...     Txn_fee
0           0  ...   (Pending)
1           1  ...   (Pending)
2           2  ...   (Pending)
3           3  ...   (Pending)
4           4  ...  0.00057476

[5 rows x 10 columns]

In [33]:
len(transaction)

7069

In [0]:
# Remove the first column as it only the index
transaction = transaction.drop(['Unnamed: 0'], axis=1)

In [35]:
list(transaction.columns)

['Address',
 'Txn_hash',
 'blocks',
 'date',
 'from',
 'txn_type',
 'to',
 'value',
 'Txn_fee']

In [36]:
transaction.head()

                                      Address  ...     Txn_fee
0  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...   (Pending)
1  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...   (Pending)
2  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...   (Pending)
3  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...   (Pending)
4  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  0.00057476

[5 rows x 9 columns]

In [37]:
df = pd.DataFrame([('bird', 'Falconiformes', 389.0),
                       ('bird', 'Psittaciformes', 24.0),
                       ('mammal', 'Carnivora', 80.2),
                       ('mammal', 'Primates', np.nan),
                       ('mammal', 'Carnivora', 58)],
                      index=['falcon', 'parrot', 'lion', 'monkey', 'leopard'],
                      columns=('class', 'order', 'max_speed'))
df

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [0]:
grouped = df.groupby('class')

In [39]:
grouped['max_speed'].sum()

class
bird      413.0
mammal    138.2
Name: max_speed, dtype: float64

In [40]:
grouped.get_group('bird')

       class           order  max_speed
falcon  bird   Falconiformes      389.0
parrot  bird  Psittaciformes       24.0

In [41]:
transaction.head()

                                      Address  ...     Txn_fee
0  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...   (Pending)
1  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...   (Pending)
2  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...   (Pending)
3  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...   (Pending)
4  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  0.00057476

[5 rows x 9 columns]

In [0]:
# rows with "blocks" = "(pending)"
pending_tran = transaction.loc[transaction["blocks"]=="(pending)"]

In [43]:
pending_tran.head()

                                        Address  ...    Txn_fee
0    0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  (Pending)
1    0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  (Pending)
2    0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  (Pending)
3    0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  (Pending)
417  0x4ddc2d193948926d02f9b1fe9e1daa0718270ed5  ...  (Pending)

[5 rows x 9 columns]

In [44]:
pending_tran.shape

(56, 9)

In [0]:
# drop rows with "blocks" = "(pending)"
transaction = transaction.drop(pending_tran.index,axis = 0)

In [46]:
(transaction.loc[transaction["blocks"]=="(pending)"])

Empty DataFrame
Columns: [Address, Txn_hash, blocks, date, from, txn_type, to, value, Txn_fee]
Index: []

In [47]:
(transaction.loc[transaction["blocks"]=="(pending)"]).shape

(0, 9)

In [48]:
(transaction.loc[transaction["Txn_fee"]=="(Pending)"])

Empty DataFrame
Columns: [Address, Txn_hash, blocks, date, from, txn_type, to, value, Txn_fee]
Index: []

In [0]:
# replace 'Ether' with '' for 'value' column
transaction['value'] = transaction['value'].str.replace('Ether', '')

In [50]:
# value attribute contains ','
transaction.iloc[46,:]

Address            0x742d35cc6634c0532925a3b844bc454e4438f44e
Txn_hash    0xee5fd59cdbe38a5a13c209f459e45f77b180a2b38be5...
blocks                                                9473460
date                                       2020-02-13 7:59:54
from                                               Bitfinex 5
txn_type                                                  OUT
to                                                 Bitfinex 4
value                                                 50,000
Txn_fee                                              0.000168
Name: 50, dtype: object

In [0]:
# replace ',' with ''
transaction['value'] = transaction['value'].str.replace(',', '')

In [53]:
# value attribute contains 'wei'
print(transaction.iloc[174,:])

Address            0x997114ca0830e9bee7443368fa27f4af2d4e55a6
Txn_hash    0xdd570085f28587501cc42a9bbe7519fc24d241205526...
blocks                                                9341893
date                                       2020-01-24 2:54:08
from               0xcee95ce42d94b35c4f714f0dc23078ab06136102
txn_type                                                 IN
to                                         Plus Token Ponzi 2
value                                                   1 wei
Txn_fee                                                     0
Name: 178, dtype: object