<a href="https://colab.research.google.com/github/mshilpaa/ethereum-data-analysis/blob/master/ethereum_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:

# mount gdrive and unzip data
from google.colab import drive
drive.mount('/content/drive')

%ls

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
drive/  sample_data/

24 attributes


* outgoing_txns	 - outgoing taxes(txn_type = OUT)

* incoming_txns  -  incoming taxes(txn_type = IN)

* total_eth_sent - total of all ether where txn_type = OUT

* avg_eth_sent  = total ether sent/ total no. of transactions of that addr.

* total_usd_sent = total $ sent

* avg_usd_sent	= total $ sent/ total no. of transactions of that addr.

* total_eth_recd	is total ether recieved = total of all ether where (txn_type = IN)

* avg_eth_recd	= total ether recieved/ total no. of transactions of that addr.

* total_usd_recd	= total $ recieved

* avg_usd_recd	= total $ sent/ total no. of transactions of that addr.

* active_months = count of no. of active months

* monthly_outgoing_txns - for outgoing taxes(txn_type = OUT)

* monthly_incoming_txns - for incoming taxes(txn_type = IN)

* monthly_eth_sent - for outgoing taxes(txn_type = OUT)	

* monthly_usd_sent - for outgoing taxes(txn_type = OUT)

* monthly_eth_recd - for incoming taxes(txn_type = IN)

* monthly_usd_recd - for incoming taxes(txn_type = IN)

* contracts_created

* contract_txns_sent	

* incoming_avg_time_btwn_txns	
* incoming_std_time_btwn_txns	
* outgoing_avg_time_btwn_txns	
* outgoing_std_time_btwn_txns	
* num_tokens_used	
* eth_balance

In [3]:
balance1 = pd.read_csv("/content/drive/My Drive/ethereum/balance_data.csv", names = ["index",	"Address",	"Balance(in Ether)",	"Ether_value",	"Token(in $)"])
balance1.head()

   index  ...      Token(in $)
0    NaN  ...            Token
1    0.0  ...       $43,337.49
2    1.0  ...  $972,391,367.87
3    2.0  ...  $760,226,604.60
4    3.0  ...       $61,061.89

[5 rows x 5 columns]

In [4]:
balance1.iloc[1]

index                                                         0
Address              0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2
Balance(in Ether)            2,693,158.877369522185465701 Ether
Ether_value                     $724,298,148.48 (@ $268.94/ETH)
Token(in $)                                          $43,337.49
Name: 1, dtype: object

In [0]:
# drop the row with column names
balance1 = balance1.drop([0],axis = 0)
balance1.reset_index(drop=True, inplace=True)

In [6]:
balance1.head()

   index  ...      Token(in $)
0    0.0  ...       $43,337.49
1    1.0  ...  $972,391,367.87
2    2.0  ...  $760,226,604.60
3    3.0  ...       $61,061.89
4    4.0  ...      $166,680.94

[5 rows x 5 columns]

In [7]:
# no. of instances
len(balance1)

25

In [8]:
# column names
list(balance1.columns)

['index', 'Address', 'Balance(in Ether)', 'Ether_value', 'Token(in $)']

In [9]:
balance2 = pd.read_csv("/content/drive/My Drive/ethereum/balance_data1.csv", names = ["index",	"Address",	"Balance(in Ether)",	"Ether_value",	"Token(in $)"])
balance2.head()

   index  ...        Token(in $)
0      0  ...         $40,227.34
1      1  ...  $1,019,385,392.03
2      2  ...    $755,977,404.08
3      3  ...         $64,322.42
4      4  ...        $172,229.71

[5 rows x 5 columns]

In [10]:
len(balance2)

2208

In [11]:
list(balance2.columns)

['index', 'Address', 'Balance(in Ether)', 'Ether_value', 'Token(in $)']

In [12]:
# concatenate the two files but make sure that their column names match
balance = pd.concat([balance1, balance2], ignore_index=True, names = ["index",	"Address",	"Balance(in Ether)",	"Ether_value",	"Token(in $)"])
balance.head()

   index  ...      Token(in $)
0    0.0  ...       $43,337.49
1    1.0  ...  $972,391,367.87
2    2.0  ...  $760,226,604.60
3    3.0  ...       $61,061.89
4    4.0  ...      $166,680.94

[5 rows x 5 columns]

In [13]:
len(balance)

2233

In [14]:
list(balance.columns)

['index', 'Address', 'Balance(in Ether)', 'Ether_value', 'Token(in $)']

Convert to dataframe

In [15]:
balance = pd.DataFrame(balance)
balance.head()

   index  ...      Token(in $)
0    0.0  ...       $43,337.49
1    1.0  ...  $972,391,367.87
2    2.0  ...  $760,226,604.60
3    3.0  ...       $61,061.89
4    4.0  ...      $166,680.94

[5 rows x 5 columns]

In [0]:
# Remove the first column as it only the index
balance = balance.drop(['index'], axis=1)

In [17]:
balance.head(20)

                                       Address  ...      Token(in $)
0   0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...       $43,337.49
1   0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...  $972,391,367.87
2   0x742d35cc6634c0532925a3b844bc454e4438f44e  ...  $760,226,604.60
3   0xdc76cd25977e0a5ae17155770273ad58648900d3  ...       $61,061.89
4   0x53d284357ec70ce289d6d64134dfac8e511c8a3d  ...      $166,680.94
5   0xab7c74abc0c4d48d1bdad5dcb26153fc8780f83e  ...      $159,973.57
6   0xe853c56864a2ebe4576a807d26fdc4a0ada51919  ...      $337,738.70
7   0x997114ca0830e9bee7443368fa27f4af2d4e55a6  ...            $1.10
8   0x66f820a414680b5bcda5eeca5dea238543f42054  ...  $404,372,462.56
9   0x61edcdf5bb737adffe5043706e7c5bb1f1a56eea  ...       $63,545.97
10  0x229b5c097f9b35009ca1321ad2034d4b3d5070f6  ...       $14,819.52
11  0x267f70f9b856de226fea5fc1b0a8e319c72ceff5  ...      $339,774.34
12  0xde0b295669a9fd93d5f28d9ec85e40f4cb697bae  ...       $88,604.22
13  0x1b3cb81e51011b549d78bf720b0d924ac763a7c2  ...       $67,664.89
14  0x07ee55aa48bb72dcc6e9d78256648910de513eca  ...       $76,136.29
15  0xc11d52cbb5b19c1802097e448beff8bf35942946  ...       $17,693.92
16  0xe92d1a43df510f82c66382592a047d288f85226f  ...       $10,141.27
17  0x73bceb1cd57c711feac4224d062b0f6ff338501e  ...        $7,826.70
18  0xd273bd546b11bd60214a2f9d71f22a088aafe31b  ...          $260.03
19  0x4ddc2d193948926d02f9b1fe9e1daa0718270ed5  ...       $10,854.81

[20 rows x 4 columns]

In [18]:
list(balance.columns)

['Address', 'Balance(in Ether)', 'Ether_value', 'Token(in $)']

In [0]:
# replace 'Ether' and ',' in the Balance(in Ether) column with '' and convert it to float using to_numeric
balance['Balance(in Ether)'] = balance['Balance(in Ether)'].str.replace('Ether', '') 
balance['Balance(in Ether)'] = pd.to_numeric(balance['Balance(in Ether)'].str.replace(',', ''))

In [0]:
# replace '$' and ',' in the Token(in $) column with '' and convert it to float using to_numeric
balance['Token(in $)'] = balance['Token(in $)'].str.replace('$', '')
balance['Token(in $)'] = pd.to_numeric(balance['Token(in $)'].str.replace(',', ''))

In [21]:
print(balance.dtypes)

Address               object
Balance(in Ether)    float64
Ether_value           object
Token(in $)          float64
dtype: object

In [22]:
balance.head()

                                      Address  ...   Token(in $)
0  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  4.333749e+04
1  0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...  9.723914e+08
2  0x742d35cc6634c0532925a3b844bc454e4438f44e  ...  7.602266e+08
3  0xdc76cd25977e0a5ae17155770273ad58648900d3  ...  6.106189e+04
4  0x53d284357ec70ce289d6d64134dfac8e511c8a3d  ...  1.666809e+05

[5 rows x 4 columns]

In [0]:
# split the 'Ether_value' column into 2 columns 
balance[['Total Ether_value(in $)','$ per Ether']] = balance["Ether_value"].str.split("(",expand=True)

In [0]:
# Remove the "Ether_value" column as it is not needed anymore
balance = balance.drop(['Ether_value'], axis=1)

In [25]:
balance.head()

                                      Address  ...     $ per Ether
0  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  @ $268.94/ETH)
1  0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...  @ $268.94/ETH)
2  0x742d35cc6634c0532925a3b844bc454e4438f44e  ...  @ $268.94/ETH)
3  0xdc76cd25977e0a5ae17155770273ad58648900d3  ...  @ $270.01/ETH)
4  0x53d284357ec70ce289d6d64134dfac8e511c8a3d  ...  @ $270.01/ETH)

[5 rows x 5 columns]

In [0]:

# replace '$' and ',' with '' and convert it to float using to_numeric
balance["Total Ether_value(in $)"] = balance["Total Ether_value(in $)"].str.replace('$','')
balance["Total Ether_value(in $)"] = pd.to_numeric(balance["Total Ether_value(in $)"].str.replace(',',''))

In [0]:
# replace '$','@ ')','/ETH' with '' and convert it to float using to_numeric
balance["$ per Ether"] = balance["$ per Ether"].str.replace('$','')
balance["$ per Ether"] = balance["$ per Ether"].str.replace('@','')
balance["$ per Ether"] = balance["$ per Ether"].str.replace(')','')
balance["$ per Ether"] = pd.to_numeric(balance["$ per Ether"].str.replace("/ETH",""))

In [28]:
balance.head()

                                      Address  ...  $ per Ether
0  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...       268.94
1  0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...       268.94
2  0x742d35cc6634c0532925a3b844bc454e4438f44e  ...       268.94
3  0xdc76cd25977e0a5ae17155770273ad58648900d3  ...       270.01
4  0x53d284357ec70ce289d6d64134dfac8e511c8a3d  ...       270.01

[5 rows x 5 columns]

In [29]:
balance.dtypes

Address                     object
Balance(in Ether)          float64
Token(in $)                float64
Total Ether_value(in $)    float64
$ per Ether                float64
dtype: object

In [30]:

transaction = pd.read_csv("/content/drive/My Drive/ethereum/transaction_data.csv",names=['Unnamed: 0','Address','Txn_hash','blocks','date','from','txn_type','to','value(in ether)','Txn_fee(in ether)'])
# del transaction["filename"] # remove unwanted column
transaction.head()

   Unnamed: 0  ... Txn_fee(in ether)
0         NaN  ...           Txn_fee
1         0.0  ...         (Pending)
2         1.0  ...         (Pending)
3         2.0  ...         (Pending)
4         3.0  ...         (Pending)

[5 rows x 10 columns]

In [0]:
transaction = transaction.drop([0],axis = 0)
transaction.reset_index(drop=True, inplace=True)

In [32]:
list(transaction.columns)

['Unnamed: 0',
 'Address',
 'Txn_hash',
 'blocks',
 'date',
 'from',
 'txn_type',
 'to',
 'value(in ether)',
 'Txn_fee(in ether)']

In [33]:
transaction = pd.DataFrame(transaction)
transaction.head()

   Unnamed: 0  ... Txn_fee(in ether)
0         0.0  ...         (Pending)
1         1.0  ...         (Pending)
2         2.0  ...         (Pending)
3         3.0  ...         (Pending)
4         4.0  ...        0.00057476

[5 rows x 10 columns]

In [34]:
transaction.shape

(7069, 10)

In [0]:
# Remove the first column as it only the index
transaction = transaction.drop(['Unnamed: 0'], axis=1)

In [36]:
list(transaction.columns)

['Address',
 'Txn_hash',
 'blocks',
 'date',
 'from',
 'txn_type',
 'to',
 'value(in ether)',
 'Txn_fee(in ether)']

In [37]:
transaction.head()

                                      Address  ... Txn_fee(in ether)
0  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...         (Pending)
1  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...         (Pending)
2  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...         (Pending)
3  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...         (Pending)
4  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...        0.00057476

[5 rows x 9 columns]

In [38]:
transaction.head()

                                      Address  ... Txn_fee(in ether)
0  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...         (Pending)
1  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...         (Pending)
2  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...         (Pending)
3  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...         (Pending)
4  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...        0.00057476

[5 rows x 9 columns]

In [39]:
transaction.shape

(7069, 9)

In [0]:
# rows with "blocks" = "(pending)"
pending_tran = transaction.loc[transaction["blocks"]=="(pending)"]

In [41]:
pending_tran.head()

                                        Address  ... Txn_fee(in ether)
0    0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...         (Pending)
1    0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...         (Pending)
2    0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...         (Pending)
3    0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...         (Pending)
417  0x4ddc2d193948926d02f9b1fe9e1daa0718270ed5  ...         (Pending)

[5 rows x 9 columns]

In [42]:
pending_tran.shape

(56, 9)

In [0]:
# drop rows with "blocks" = "(pending)"
transaction = transaction.drop(pending_tran.index,axis = 0)
transaction.reset_index(drop=True, inplace=True)

In [44]:
transaction.iloc[417]

Address                     0x4ddc2d193948926d02f9b1fe9e1daa0718270ed5
Txn_hash             0xede1da37b1d307242ec56cce475c07e3177526bfc2b2...
blocks                                                         9473388
date                                                2020-02-13 7:47:52
from                        0xb5776382bfb79d18a4e7d621131daf3954110cdd
txn_type                                                          IN
to                                                      Compound Ether
value(in ether)                                      3.691478824 Ether
Txn_fee(in ether)                                           0.00084434
Name: 417, dtype: object

In [45]:
transaction.shape

(7013, 9)

In [46]:
transaction.tail()

                                         Address  ... Txn_fee(in ether)
7008  0x02154704757515529da04380c984531ad7c48f34  ...       0.000353928
7009  0x02154704757515529da04380c984531ad7c48f34  ...        0.00100062
7010  0x02154704757515529da04380c984531ad7c48f34  ...       0.000235696
7011  0x02154704757515529da04380c984531ad7c48f34  ...         0.0003693
7012  0x02154704757515529da04380c984531ad7c48f34  ...        0.02244624

[5 rows x 9 columns]

In [47]:
(transaction.loc[transaction["blocks"]=="(pending)"])

Empty DataFrame
Columns: [Address, Txn_hash, blocks, date, from, txn_type, to, value(in ether), Txn_fee(in ether)]
Index: []

In [48]:
(transaction.loc[transaction["blocks"]=="(pending)"]).shape

(0, 9)

In [49]:
(transaction.loc[transaction["Txn_fee(in ether)"]=="(Pending)"])

Empty DataFrame
Columns: [Address, Txn_hash, blocks, date, from, txn_type, to, value(in ether), Txn_fee(in ether)]
Index: []

In [50]:
transaction.shape

(7013, 9)

In [0]:
# replace 'Ether' with '' for 'value' column
transaction['value(in ether)'] = transaction['value(in ether)'].str.replace('Ether', '')

In [52]:
# value attribute contains ','
transaction.iloc[46,:]

Address                     0x742d35cc6634c0532925a3b844bc454e4438f44e
Txn_hash             0xee5fd59cdbe38a5a13c209f459e45f77b180a2b38be5...
blocks                                                         9473460
date                                                2020-02-13 7:59:54
from                                                        Bitfinex 5
txn_type                                                           OUT
to                                                          Bitfinex 4
value(in ether)                                                50,000
Txn_fee(in ether)                                             0.000168
Name: 46, dtype: object

In [0]:
# replace ',' with ''
transaction['value(in ether)'] = transaction['value(in ether)'].str.replace(',', '')

In [54]:
# value attribute contains 'wei'
print(transaction.iloc[174,:])

Address                     0x997114ca0830e9bee7443368fa27f4af2d4e55a6
Txn_hash             0xdd570085f28587501cc42a9bbe7519fc24d241205526...
blocks                                                         9341893
date                                                2020-01-24 2:54:08
from                        0xcee95ce42d94b35c4f714f0dc23078ab06136102
txn_type                                                          IN
to                                                  Plus Token Ponzi 2
value(in ether)                                                  1 wei
Txn_fee(in ether)                                                    0
Name: 174, dtype: object

In [55]:
wei = transaction[transaction['value(in ether)'].str.contains(pat = 'wei') ]
wei

                                         Address  ... Txn_fee(in ether)
174   0x997114ca0830e9bee7443368fa27f4af2d4e55a6  ...                 0
531   0xab5801a7d398351b8be11c439e05c5b3259aec9b  ...           0.00042
536   0xab5801a7d398351b8be11c439e05c5b3259aec9b  ...           0.00252
729   0x997114ca0830e9bee7443368fa27f4af2d4e55a6  ...                 0
1084  0xab5801a7d398351b8be11c439e05c5b3259aec9b  ...           0.00042
...                                          ...  ...               ...
6929  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...          0.042544
6930  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...          0.042544
6938  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...          0.000441
6988  0x738ca94db7ce8be1c3056cd6988eb376359f3353  ...          0.000021
6994  0xde2204c30a452ea2c524f629fcd1e21de25ccd3d  ...          0.000042

[83 rows x 9 columns]

In [0]:
# drop rows with value in wei
transaction = transaction.drop(wei.index,axis = 0)
transaction.reset_index(drop=True, inplace=True)

All 83 rows have wei in value column
Wei refers to the smallest denomination of ether (ETH), the currency used on the Ethereum network. For instance, 1 ether (ETH) is equivalent to 1x10^18 wei (which may also be represented in exponential notation: 1e18 wei).

In [57]:
ether = pow(10,18) 
for i in range(len(wei)):
  wei['value(in ether)'].iloc[i] = '{0:.30f}'.format(float(wei['value(in ether)'].iloc[i].split(' ')[0])/ether)
wei

                                         Address  ... Txn_fee(in ether)
174   0x997114ca0830e9bee7443368fa27f4af2d4e55a6  ...                 0
531   0xab5801a7d398351b8be11c439e05c5b3259aec9b  ...           0.00042
536   0xab5801a7d398351b8be11c439e05c5b3259aec9b  ...           0.00252
729   0x997114ca0830e9bee7443368fa27f4af2d4e55a6  ...                 0
1084  0xab5801a7d398351b8be11c439e05c5b3259aec9b  ...           0.00042
...                                          ...  ...               ...
6929  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...          0.042544
6930  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...          0.042544
6938  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...          0.000441
6988  0x738ca94db7ce8be1c3056cd6988eb376359f3353  ...          0.000021
6994  0xde2204c30a452ea2c524f629fcd1e21de25ccd3d  ...          0.000042

[83 rows x 9 columns]

In [58]:
transaction = pd.concat([transaction, wei], ignore_index=True)
transaction.head()

                                      Address  ... Txn_fee(in ether)
0  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...        0.00057476
1  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...    0.000331395136
2  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...        0.00057476
3  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...        0.00027996
4  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...        0.00057476

[5 rows x 9 columns]

In [59]:
transaction.shape

(7013, 9)

In [60]:
transaction.tail()

                                         Address  ... Txn_fee(in ether)
7008  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...          0.042544
7009  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...          0.042544
7010  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...          0.000441
7011  0x738ca94db7ce8be1c3056cd6988eb376359f3353  ...          0.000021
7012  0xde2204c30a452ea2c524f629fcd1e21de25ccd3d  ...          0.000042

[5 rows x 9 columns]

In [61]:
a = transaction[transaction['value(in ether)'].str.contains(pat = '[a-zA-Z]', regex = True) ]
a.index = range(len(a))
a

Empty DataFrame
Columns: [Address, Txn_hash, blocks, date, from, txn_type, to, value(in ether), Txn_fee(in ether)]
Index: []

In [0]:
transaction['value(in ether)'] = pd.to_numeric(transaction['value(in ether)'])
transaction['Txn_fee(in ether)'] = pd.to_numeric(transaction['Txn_fee(in ether)'])

In [63]:
transaction.dtypes

Address               object
Txn_hash              object
blocks                object
date                  object
from                  object
txn_type              object
to                    object
value(in ether)      float64
Txn_fee(in ether)    float64
dtype: object

In [0]:
# transaction['date'] =transaction['date'].str

In [65]:
transaction.dtypes

Address               object
Txn_hash              object
blocks                object
date                  object
from                  object
txn_type              object
to                    object
value(in ether)      float64
Txn_fee(in ether)    float64
dtype: object

In [0]:
# split the 'date' column into 2 columns 
transaction[['Date','Time']] = transaction['date'].str.split(" ", n = 1, expand = True)

# n - int, default -1 (all)
# Limit number of splits in output. None, 0 and -1 will be interpreted as return all splits.

# expand - bool, default False
# Expand the splitted strings into separate columns.

In [67]:
transaction.head()

                                      Address  ...     Time
0  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  8:10:18
1  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  8:08:48
2  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  8:08:48
3  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  8:06:22
4  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  8:04:14

[5 rows x 11 columns]

In [0]:
transaction[['Year','Month','Day']] = transaction['Date'].str.split("-", n = 2, expand = True).astype('str')

In [0]:
transaction[['Hours','Minutes','Seconds']] = transaction['Time'].str.split(":", n = 2, expand = True).astype('str')

In [70]:
transaction.head()

                                      Address  ... Seconds
0  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...      18
1  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...      48
2  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...      48
3  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...      22
4  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...      14

[5 rows x 17 columns]

In [0]:
transaction = transaction.drop('date',axis=1)
transaction = transaction.drop('Date',axis=1)
transaction = transaction.drop('Time',axis=1)

In [0]:
transaction['Month'] = pd.to_numeric(transaction['Month'])
transaction['Year'] = pd.to_numeric(transaction['Year'])
transaction['Day'] = pd.to_numeric(transaction['Day'])
transaction['Hours'] = pd.to_numeric(transaction['Hours'])
transaction['Minutes'] = pd.to_numeric(transaction['Minutes'])
transaction['Seconds'] = pd.to_numeric(transaction['Seconds'])

In [73]:
transaction.head()

                                      Address  ... Seconds
0  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...      18
1  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...      48
2  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...      48
3  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...      22
4  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...      14

[5 rows x 14 columns]

In [74]:
transaction.dtypes

Address               object
Txn_hash              object
blocks                object
from                  object
txn_type              object
to                    object
value(in ether)      float64
Txn_fee(in ether)    float64
Year                   int64
Month                  int64
Day                    int64
Hours                  int64
Minutes                int64
Seconds                int64
dtype: object

In [75]:
transaction.loc[transaction["txn_type"]=="OUT"]

                                         Address  ... Seconds
21    0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...       7
22    0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...      12
23    0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...      32
24    0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...      54
25    0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...      26
...                                          ...  ...     ...
6934  0xab5801a7d398351b8be11c439e05c5b3259aec9b  ...      45
6958  0xceffc7330317f72957c662d072a5e7d63b9b578c  ...      23
6972  0x5a85aafa7fbca99ea32df27c33b14831feeb20f9  ...       6
6973  0x5a85aafa7fbca99ea32df27c33b14831feeb20f9  ...      58
7010  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      18

[2065 rows x 14 columns]

In [76]:
transaction['txn_type'].iloc[0]

'\xa0IN\xa0'

In [0]:
transaction["txn_type"] = transaction["txn_type"].str.replace('\xa0','')

In [78]:
transaction['txn_type'].iloc[0]

'IN'

In [0]:
addr_group = transaction.groupby('Address')

In [80]:
addr_group.get_group('0xd28c567f1b52119b32a3af6066c36149c2f86d12')

                                         Address  ... Seconds
6851  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      19
6852  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      19
6853  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      15
6854  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...       6
6855  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      39
6856  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      24
6857  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      32
6858  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      25
6994  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      16
6995  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      30
6996  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      14
6997  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      35
6998  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      35
6999  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      20
7000  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      33
7001  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      33
7002  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      30
7003  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      17
7004  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      12
7005  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      50
7006  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      50
7007  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      19
7008  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      13
7009  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      19
7010  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      18

[25 rows x 14 columns]

In [81]:
addr_group.get_group('0xd28c567f1b52119b32a3af6066c36149c2f86d12')[addr_group.get_group('0xd28c567f1b52119b32a3af6066c36149c2f86d12')['txn_type']=='IN']

                                         Address  ... Seconds
6851  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      19
6852  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      19
6853  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      15
6854  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...       6
6856  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      24
6994  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      16
6995  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      30
6996  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      14
6997  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      35
6998  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      35
6999  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      20
7000  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      33
7001  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      33
7002  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      30
7003  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      17
7004  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      12
7005  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      50
7006  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      50
7007  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      19
7008  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      13
7009  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...      19

[21 rows x 14 columns]

In [82]:
addr_group.get_group('0xd28c567f1b52119b32a3af6066c36149c2f86d12')[addr_group.get_group('0xd28c567f1b52119b32a3af6066c36149c2f86d12')['txn_type']=='IN'].dtypes

Address               object
Txn_hash              object
blocks                object
from                  object
txn_type              object
to                    object
value(in ether)      float64
Txn_fee(in ether)    float64
Year                   int64
Month                  int64
Day                    int64
Hours                  int64
Minutes                int64
Seconds                int64
dtype: object

In [83]:
np.sum(addr_group.get_group('0xd28c567f1b52119b32a3af6066c36149c2f86d12')[addr_group.get_group('0xd28c567f1b52119b32a3af6066c36149c2f86d12')['txn_type']=='IN']['value(in ether)'])

26009.5766

In [84]:
len(addr_group.get_group('0xd28c567f1b52119b32a3af6066c36149c2f86d12')[addr_group.get_group('0xd28c567f1b52119b32a3af6066c36149c2f86d12')['txn_type']=='IN']['Month'])

21

In [85]:
(addr_group.get_group('0xd28c567f1b52119b32a3af6066c36149c2f86d12')[addr_group.get_group('0xd28c567f1b52119b32a3af6066c36149c2f86d12')['txn_type']=='IN'][['Month']]).agg(['sum'])

     Month
sum    226

In [86]:
(addr_group.get_group('0xd28c567f1b52119b32a3af6066c36149c2f86d12')[addr_group.get_group('0xd28c567f1b52119b32a3af6066c36149c2f86d12')['txn_type']=='IN'][['value(in ether)']]).agg(['sum'])

     value(in ether)
sum       26009.5766

In [87]:
addr_group.head()

                                         Address  ... Seconds
0     0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...      18
1     0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...      48
2     0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...      48
3     0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...      22
4     0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...      14
...                                          ...  ...     ...
6987  0x69073269729e6414b26ec8dc0fd935c73b579f1e  ...      27
6989  0x627b0b149b3826d6f625db6c55125a5667c7a77e  ...      33
6992  0x5d8d31faa864e22159cd6f5175ccecc53fa54d72  ...      33
6993  0xf7474070f2b9843df17e41213b6d89a1a6648b86  ...      33
7011  0x738ca94db7ce8be1c3056cd6988eb376359f3353  ...      11

[1998 rows x 14 columns]

In [0]:
dframe = pd.DataFrame(addr_group.groups.keys(),columns=['Address'])

In [89]:
dframe.shape

(468, 1)

In [90]:
dframe.head()

                                      Address
0  0x005bdf2845064db405f5c99aaf9510d0b19e7ac2
1  0x006135dc6c63f9d8ca5fe4a4fdaaf2f7d060c3f0
2  0x00656be65fc59891e7ba715ce4f644bb19bd5f88
3  0x00e5c013694c9ee92b76ce6ad7ad3bcc20475d6f
4  0x0117ef7fdb2a5814dff83c50fb799741904cd28d

In [0]:
dframe['incoming_txns(in ether)'] = 0
dframe['outgoing_txns(in ether)'] = 0
dframe['no. of incoming transaction'] = 0
dframe['no. of outgoing transaction'] = 0
dframe['total_eth_recieved'] = 0
dframe['total_eth_sent'] = 0
dframe['avg_eth_sent'] = 0
dframe['avg_eth_recieved'] = 0

In [107]:
len(addr_group.get_group("0x0117ef7fdb2a5814dff83c50fb799741904cd28d")[addr_group.get_group("0x0117ef7fdb2a5814dff83c50fb799741904cd28d")['txn_type']=='IN'])

25

In [108]:
# dframe = pd.DataFrame()
i=0
for addr in dframe['Address']:
  dframe['no. of incoming transaction'].iloc[i] = len(addr_group.get_group(addr)[addr_group.get_group(addr)['txn_type']=='IN'])
  dframe['no. of outgoing transaction'].iloc[i] = len(addr_group.get_group(addr)[addr_group.get_group(addr)['txn_type']=='OUT'])
  dframe['incoming_txns(in ether)'].iloc[i] = ((addr_group.get_group(addr)[addr_group.get_group(addr)['txn_type']=='IN']['Txn_fee(in ether)']).agg(['sum']))['sum']
  dframe['outgoing_txns(in ether)'].iloc[i] = ((addr_group.get_group(addr)[addr_group.get_group(addr)['txn_type']=='OUT']['Txn_fee(in ether)']).agg(['sum']))['sum']
  dframe['total_eth_recieved'].iloc[i] = ((addr_group.get_group(addr)[addr_group.get_group(addr)['txn_type']=='IN']['value(in ether)']).agg(['sum']))['sum']
  dframe['total_eth_sent'].iloc[i] = ((addr_group.get_group(addr)[addr_group.get_group(addr)['txn_type']=='OUT']['value(in ether)']).agg(['sum']))['sum']
  dframe['avg_eth_sent'].iloc[i] = dframe['total_eth_sent'].iloc[i]/dframe['no. of incoming transaction'].iloc[i]
  dframe['avg_eth_recieved'].iloc[i] = dframe['total_eth_sent'].iloc[i]/dframe['no. of outgoing transaction'].iloc[i]
  
  i+=1
  # print(key,((addr_group.get_group(key)['value']).agg(['sum']))['sum'])
print(i)

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: RuntimeWarning: invalid value encountered in double_scalars
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: RuntimeWarning: invalid value encountered in double_scalars
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: RuntimeWarning: divide by zero encountered in double_scalars
  if __name__ == '__main__':

468

In [109]:
dframe.head(20)

                                       Address  ...  outgoing_txns(in ether)
0   0x005bdf2845064db405f5c99aaf9510d0b19e7ac2  ...                 0.000840
1   0x006135dc6c63f9d8ca5fe4a4fdaaf2f7d060c3f0  ...                 0.000168
2   0x00656be65fc59891e7ba715ce4f644bb19bd5f88  ...                 0.000378
3   0x00e5c013694c9ee92b76ce6ad7ad3bcc20475d6f  ...                 0.034158
4   0x0117ef7fdb2a5814dff83c50fb799741904cd28d  ...                 0.000000
5   0x02154704757515529da04380c984531ad7c48f34  ...                 0.000000
6   0x024861e9f89d44d00a7ada4aa89fe03cab9387cd  ...                 0.000000
7   0x02fb53a32eabb461468d9f651872e94c0b963978  ...                 0.000420
8   0x03e1fa19a43ef3d4b16889ed2ad0a72e098cb7ab  ...                 0.005890
9   0x044084bff42d1b206e741ac2e1bf78acd7f9158e  ...                 0.000000
10  0x044d9e4b27cdbe643914dabddd488a1cb07490b7  ...                 0.000894
11  0x04786aada9deea2150deab7b3b8911c309f5ed90  ...                 0.005079
12  0x04ef3ad7b787a2029dbff239cf92875071997f57  ...                 0.000000
13  0x0518f5bb058f6215a0ff5f4df54dae832d734e04  ...                 0.000000
14  0x05576087d1ad92873da0a3b76e7105195935b0f5  ...                 0.000444
15  0x0577a79cfc63bbc0df38833ff4c4a3bf2095b404  ...                 0.000000
16  0x059799f2261d37b829c2850cee67b5b975432271  ...                 0.000000
17  0x06548a28a6b2dd51ef3c01a9a5a359e026474c2a  ...                 0.001353
18  0x06fed18718975d9e178e0c0fea35c18eac794c3f  ...                 0.000000
19  0x07320deb2713370a3d7b49189fc2f99906e1ae8e  ...                 0.086813

[20 rows x 11 columns]

In [110]:
dframe.loc[dframe['Address']=="0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"]

                                        Address  ...  outgoing_txns(in ether)
367  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...                      0.0

[1 rows x 11 columns]

In [111]:
balance.loc[balance['Address']=="0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2"]

                                       Address  ...  $ per Ether
0   0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...       268.94
25  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...       281.96
50  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...       282.01

[3 rows x 5 columns]

In [112]:
balance.head(10)

                                      Address  ...  $ per Ether
0  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...       268.94
1  0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...       268.94
2  0x742d35cc6634c0532925a3b844bc454e4438f44e  ...       268.94
3  0xdc76cd25977e0a5ae17155770273ad58648900d3  ...       270.01
4  0x53d284357ec70ce289d6d64134dfac8e511c8a3d  ...       270.01
5  0xab7c74abc0c4d48d1bdad5dcb26153fc8780f83e  ...       270.01
6  0xe853c56864a2ebe4576a807d26fdc4a0ada51919  ...       268.94
7  0x997114ca0830e9bee7443368fa27f4af2d4e55a6  ...       268.94
8  0x66f820a414680b5bcda5eeca5dea238543f42054  ...       268.94
9  0x61edcdf5bb737adffe5043706e7c5bb1f1a56eea  ...       268.94

[10 rows x 5 columns]

In [113]:
data = pd.merge(balance, dframe, on='Address', how='inner')
data.head(20)

                                       Address  ...  outgoing_txns(in ether)
0   0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...                 0.000000
1   0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...                 0.000000
2   0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...                 0.000000
3   0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...                 0.013991
4   0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...                 0.013991
5   0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...                 0.013991
6   0x742d35cc6634c0532925a3b844bc454e4438f44e  ...                 0.000336
7   0x742d35cc6634c0532925a3b844bc454e4438f44e  ...                 0.000336
8   0x742d35cc6634c0532925a3b844bc454e4438f44e  ...                 0.000336
9   0xdc76cd25977e0a5ae17155770273ad58648900d3  ...                 0.000000
10  0xdc76cd25977e0a5ae17155770273ad58648900d3  ...                 0.000000
11  0xdc76cd25977e0a5ae17155770273ad58648900d3  ...                 0.000000
12  0x53d284357ec70ce289d6d64134dfac8e511c8a3d  ...                 0.000000
13  0x53d284357ec70ce289d6d64134dfac8e511c8a3d  ...                 0.000000
14  0x53d284357ec70ce289d6d64134dfac8e511c8a3d  ...                 0.000000
15  0xab7c74abc0c4d48d1bdad5dcb26153fc8780f83e  ...                 0.000000
16  0xab7c74abc0c4d48d1bdad5dcb26153fc8780f83e  ...                 0.000000
17  0xab7c74abc0c4d48d1bdad5dcb26153fc8780f83e  ...                 0.000000
18  0xe853c56864a2ebe4576a807d26fdc4a0ada51919  ...                 0.014729
19  0xe853c56864a2ebe4576a807d26fdc4a0ada51919  ...                 0.014729

[20 rows x 15 columns]

In [0]:
data['total usd sent'] = data['$ per Ether']* data['total_eth_sent']
data['total usd recieved'] = data['$ per Ether']* data['total_eth_recieved']
data['avg usd recieved'] = data['$ per Ether']* data['avg_eth_recieved']
data['avg usd sent'] = data['$ per Ether']* data['avg_eth_sent']

In [118]:
data.head(15)

                                       Address  ...   avg usd sent
0   0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...       0.000000
1   0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...       0.000000
2   0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...       0.000000
3   0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...            NaN
4   0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...            NaN
5   0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...            NaN
6   0x742d35cc6634c0532925a3b844bc454e4438f44e  ...  560291.666667
7   0x742d35cc6634c0532925a3b844bc454e4438f44e  ...  587416.666667
8   0x742d35cc6634c0532925a3b844bc454e4438f44e  ...  587520.833333
9   0xdc76cd25977e0a5ae17155770273ad58648900d3  ...       0.000000
10  0xdc76cd25977e0a5ae17155770273ad58648900d3  ...       0.000000
11  0xdc76cd25977e0a5ae17155770273ad58648900d3  ...       0.000000
12  0x53d284357ec70ce289d6d64134dfac8e511c8a3d  ...       0.000000
13  0x53d284357ec70ce289d6d64134dfac8e511c8a3d  ...       0.000000
14  0x53d284357ec70ce289d6d64134dfac8e511c8a3d  ...       0.000000

[15 rows x 19 columns]

In [119]:
values = {'avg_eth_sent':0,'avg_eth_recieved': 0,'avg usd recieved':0,	'avg usd sent':0}
data.fillna(value=values)

                                        Address  ...  avg usd sent
0    0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  0.000000e+00
1    0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  0.000000e+00
2    0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  0.000000e+00
3    0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...  0.000000e+00
4    0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...  0.000000e+00
..                                          ...  ...           ...
508  0x738ca94db7ce8be1c3056cd6988eb376359f3353  ...  0.000000e+00
509  0x02154704757515529da04380c984531ad7c48f34  ...  0.000000e+00
510  0x8a7e7a63b401293c4be78769750622b2a6f33494  ...  0.000000e+00
511  0xde2204c30a452ea2c524f629fcd1e21de25ccd3d  ...  4.325552e+01
512  0xca3ac4f946b997db24515a7ae7779f2e587d5a26  ...  1.037096e+06

[513 rows x 19 columns]