<a href="https://colab.research.google.com/github/mshilpaa/ethereum-data-analysis/blob/master/ethereum_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:

# mount gdrive and unzip data
from google.colab import drive
drive.mount('/content/drive')

%ls

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
drive/  sample_data/

24 attributes


* outgoing_txns	 - outgoing taxes(txn_type = OUT)

* incoming_txns  -  incoming taxes(txn_type = IN)

* total_eth_sent - total of all ether where txn_type = OUT

* avg_eth_sent  = total ether sent/ total no. of transactions of that addr.

* total_usd_sent = total $ sent

* avg_usd_sent	= total $ sent/ total no. of transactions of that addr.

* total_eth_recd	is total ether recieved = total of all ether where (txn_type = IN)

* avg_eth_recd	= total ether recieved/ total no. of transactions of that addr.

* total_usd_recd	= total $ recieved

* avg_usd_recd	= total $ sent/ total no. of transactions of that addr.

* active_months = count of no. of active months

* monthly_outgoing_txns - for outgoing taxes(txn_type = OUT)

* monthly_incoming_txns - for incoming taxes(txn_type = IN)

* monthly_eth_sent - for outgoing taxes(txn_type = OUT)	

* monthly_usd_sent - for outgoing taxes(txn_type = OUT)

* monthly_eth_recd - for incoming taxes(txn_type = IN)

* monthly_usd_recd - for incoming taxes(txn_type = IN)

* contracts_created - Data not available

* contract_txns_sent - Data not available	

* incoming_avg_time_btwn_txns	
* incoming_std_time_btwn_txns	
* outgoing_avg_time_btwn_txns	
* outgoing_std_time_btwn_txns	
* num_tokens_used	eth_balance - not scraped

In [3]:
balance1 = pd.read_csv("/content/drive/My Drive/ethereum/balance_data.csv", names = ["index",	"Address",	"Balance(in Ether)",	"Ether_value",	"Token(in $)"])
balance1.head()

   index  ...      Token(in $)
0    NaN  ...            Token
1    0.0  ...       $43,337.49
2    1.0  ...  $972,391,367.87
3    2.0  ...  $760,226,604.60
4    3.0  ...       $61,061.89

[5 rows x 5 columns]

In [4]:
balance1.iloc[1]

index                                                         0
Address              0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2
Balance(in Ether)            2,693,158.877369522185465701 Ether
Ether_value                     $724,298,148.48 (@ $268.94/ETH)
Token(in $)                                          $43,337.49
Name: 1, dtype: object

In [0]:
# drop the row with column names
balance1 = balance1.drop([0],axis = 0)
balance1.reset_index(drop=True, inplace=True)

In [6]:
balance1.head()

   index  ...      Token(in $)
0    0.0  ...       $43,337.49
1    1.0  ...  $972,391,367.87
2    2.0  ...  $760,226,604.60
3    3.0  ...       $61,061.89
4    4.0  ...      $166,680.94

[5 rows x 5 columns]

In [7]:
# no. of instances
len(balance1)

25

In [8]:
# column names
list(balance1.columns)

['index', 'Address', 'Balance(in Ether)', 'Ether_value', 'Token(in $)']

In [9]:
balance2 = pd.read_csv("/content/drive/My Drive/ethereum/balance_data1.csv", names = ["index",	"Address",	"Balance(in Ether)",	"Ether_value",	"Token(in $)"])
balance2.head()

   index  ...        Token(in $)
0      0  ...         $40,227.34
1      1  ...  $1,019,385,392.03
2      2  ...    $755,977,404.08
3      3  ...         $64,322.42
4      4  ...        $172,229.71

[5 rows x 5 columns]

In [10]:
len(balance2)

2208

In [11]:
list(balance2.columns)

['index', 'Address', 'Balance(in Ether)', 'Ether_value', 'Token(in $)']

In [12]:
# concatenate the two files but make sure that their column names match
balance = pd.concat([balance1, balance2], ignore_index=True, names = ["index",	"Address",	"Balance(in Ether)",	"Ether_value",	"Token(in $)"])
balance.head()

   index  ...      Token(in $)
0    0.0  ...       $43,337.49
1    1.0  ...  $972,391,367.87
2    2.0  ...  $760,226,604.60
3    3.0  ...       $61,061.89
4    4.0  ...      $166,680.94

[5 rows x 5 columns]

In [13]:
len(balance)

2233

In [14]:
list(balance.columns)

['index', 'Address', 'Balance(in Ether)', 'Ether_value', 'Token(in $)']

Convert to dataframe

In [15]:
balance = pd.DataFrame(balance)
balance.head()

   index  ...      Token(in $)
0    0.0  ...       $43,337.49
1    1.0  ...  $972,391,367.87
2    2.0  ...  $760,226,604.60
3    3.0  ...       $61,061.89
4    4.0  ...      $166,680.94

[5 rows x 5 columns]

In [0]:
# Remove the first column as it only the index
balance = balance.drop(['index'], axis=1)

In [17]:
balance.head(20)

                                       Address  ...      Token(in $)
0   0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...       $43,337.49
1   0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...  $972,391,367.87
2   0x742d35cc6634c0532925a3b844bc454e4438f44e  ...  $760,226,604.60
3   0xdc76cd25977e0a5ae17155770273ad58648900d3  ...       $61,061.89
4   0x53d284357ec70ce289d6d64134dfac8e511c8a3d  ...      $166,680.94
5   0xab7c74abc0c4d48d1bdad5dcb26153fc8780f83e  ...      $159,973.57
6   0xe853c56864a2ebe4576a807d26fdc4a0ada51919  ...      $337,738.70
7   0x997114ca0830e9bee7443368fa27f4af2d4e55a6  ...            $1.10
8   0x66f820a414680b5bcda5eeca5dea238543f42054  ...  $404,372,462.56
9   0x61edcdf5bb737adffe5043706e7c5bb1f1a56eea  ...       $63,545.97
10  0x229b5c097f9b35009ca1321ad2034d4b3d5070f6  ...       $14,819.52
11  0x267f70f9b856de226fea5fc1b0a8e319c72ceff5  ...      $339,774.34
12  0xde0b295669a9fd93d5f28d9ec85e40f4cb697bae  ...       $88,604.22
13  0x1b3cb81e51011b549d78bf720b0d924ac763a7c2  ...       $67,664.89
14  0x07ee55aa48bb72dcc6e9d78256648910de513eca  ...       $76,136.29
15  0xc11d52cbb5b19c1802097e448beff8bf35942946  ...       $17,693.92
16  0xe92d1a43df510f82c66382592a047d288f85226f  ...       $10,141.27
17  0x73bceb1cd57c711feac4224d062b0f6ff338501e  ...        $7,826.70
18  0xd273bd546b11bd60214a2f9d71f22a088aafe31b  ...          $260.03
19  0x4ddc2d193948926d02f9b1fe9e1daa0718270ed5  ...       $10,854.81

[20 rows x 4 columns]

In [18]:
list(balance.columns)

['Address', 'Balance(in Ether)', 'Ether_value', 'Token(in $)']

In [0]:
# replace 'Ether' and ',' in the Balance(in Ether) column with '' and convert it to float using to_numeric
balance['Balance(in Ether)'] = balance['Balance(in Ether)'].str.replace('Ether', '') 
balance['Balance(in Ether)'] = pd.to_numeric(balance['Balance(in Ether)'].str.replace(',', ''))

In [0]:
# replace '$' and ',' in the Token(in $) column with '' and convert it to float using to_numeric
balance['Token(in $)'] = balance['Token(in $)'].str.replace('$', '')
balance['Token(in $)'] = pd.to_numeric(balance['Token(in $)'].str.replace(',', ''))

In [21]:
print(balance.dtypes)

Address               object
Balance(in Ether)    float64
Ether_value           object
Token(in $)          float64
dtype: object

In [22]:
balance.head()

                                      Address  ...   Token(in $)
0  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  4.333749e+04
1  0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...  9.723914e+08
2  0x742d35cc6634c0532925a3b844bc454e4438f44e  ...  7.602266e+08
3  0xdc76cd25977e0a5ae17155770273ad58648900d3  ...  6.106189e+04
4  0x53d284357ec70ce289d6d64134dfac8e511c8a3d  ...  1.666809e+05

[5 rows x 4 columns]

In [0]:
# split the 'Ether_value' column into 2 columns 
balance[['Total Ether_value(in $)','$ per Ether']] = balance["Ether_value"].str.split("(",expand=True)

In [0]:
# Remove the "Ether_value" column as it is not needed anymore
balance = balance.drop(['Ether_value'], axis=1)

In [25]:
balance.head()

                                      Address  ...     $ per Ether
0  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  @ $268.94/ETH)
1  0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...  @ $268.94/ETH)
2  0x742d35cc6634c0532925a3b844bc454e4438f44e  ...  @ $268.94/ETH)
3  0xdc76cd25977e0a5ae17155770273ad58648900d3  ...  @ $270.01/ETH)
4  0x53d284357ec70ce289d6d64134dfac8e511c8a3d  ...  @ $270.01/ETH)

[5 rows x 5 columns]

In [0]:
# replace '$' and ',' with '' and convert it to float using to_numeric
balance["Total Ether_value(in $)"] = balance["Total Ether_value(in $)"].str.replace('$','')
balance["Total Ether_value(in $)"] = pd.to_numeric(balance["Total Ether_value(in $)"].str.replace(',',''))

In [0]:
# replace '$','@ ')','/ETH' with '' and convert it to float using to_numeric
balance["$ per Ether"] = balance["$ per Ether"].str.replace('$','')
balance["$ per Ether"] = balance["$ per Ether"].str.replace('@','')
balance["$ per Ether"] = balance["$ per Ether"].str.replace(')','')
balance["$ per Ether"] = pd.to_numeric(balance["$ per Ether"].str.replace("/ETH",""))

In [28]:
balance.head()

                                      Address  ...  $ per Ether
0  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...       268.94
1  0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...       268.94
2  0x742d35cc6634c0532925a3b844bc454e4438f44e  ...       268.94
3  0xdc76cd25977e0a5ae17155770273ad58648900d3  ...       270.01
4  0x53d284357ec70ce289d6d64134dfac8e511c8a3d  ...       270.01

[5 rows x 5 columns]

In [29]:
balance.dtypes

Address                     object
Balance(in Ether)          float64
Token(in $)                float64
Total Ether_value(in $)    float64
$ per Ether                float64
dtype: object

In [30]:

transaction = pd.read_csv("/content/drive/My Drive/ethereum/transaction_data.csv",)
# del transaction["filename"] # remove unwanted column
transaction.head()

   Unnamed: 0  ...     Txn_fee
0           0  ...   (Pending)
1           1  ...   (Pending)
2           2  ...   (Pending)
3           3  ...   (Pending)
4           4  ...  0.00057476

[5 rows x 10 columns]

In [31]:
list(transaction.columns)

['Unnamed: 0',
 'Address',
 'Txn_hash',
 'blocks',
 'date',
 'from',
 'txn_type',
 'to',
 'value',
 'Txn_fee']

In [32]:
transaction = pd.DataFrame(transaction)
transaction.head()

   Unnamed: 0  ...     Txn_fee
0           0  ...   (Pending)
1           1  ...   (Pending)
2           2  ...   (Pending)
3           3  ...   (Pending)
4           4  ...  0.00057476

[5 rows x 10 columns]

In [33]:
transaction.shape

(7069, 10)

In [0]:
# Remove the first column as it only the index
transaction = transaction.drop(['Unnamed: 0'], axis=1)

In [35]:
list(transaction.columns)

['Address',
 'Txn_hash',
 'blocks',
 'date',
 'from',
 'txn_type',
 'to',
 'value',
 'Txn_fee']

In [36]:
transaction.head()

                                      Address  ...     Txn_fee
0  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...   (Pending)
1  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...   (Pending)
2  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...   (Pending)
3  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...   (Pending)
4  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  0.00057476

[5 rows x 9 columns]

In [41]:
transaction.head()

                                      Address  ...     Txn_fee
0  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...   (Pending)
1  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...   (Pending)
2  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...   (Pending)
3  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...   (Pending)
4  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  0.00057476

[5 rows x 9 columns]

In [42]:
transaction.shape

(7069, 9)

In [0]:
# rows with "blocks" = "(pending)"
pending_tran = transaction.loc[transaction["blocks"]=="(pending)"]

In [44]:
pending_tran.head()

                                        Address  ...    Txn_fee
0    0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  (Pending)
1    0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  (Pending)
2    0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  (Pending)
3    0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  (Pending)
417  0x4ddc2d193948926d02f9b1fe9e1daa0718270ed5  ...  (Pending)

[5 rows x 9 columns]

In [45]:
pending_tran.shape

(56, 9)

In [0]:
# drop rows with "blocks" = "(pending)"
transaction = transaction.drop(pending_tran.index,axis = 0)
transaction.reset_index(drop=True, inplace=True)

In [47]:
transaction.iloc[417]

Address            0x4ddc2d193948926d02f9b1fe9e1daa0718270ed5
Txn_hash    0xede1da37b1d307242ec56cce475c07e3177526bfc2b2...
blocks                                                9473388
date                                       2020-02-13 7:47:52
from               0xb5776382bfb79d18a4e7d621131daf3954110cdd
txn_type                                                  IN
to                                             Compound Ether
value                                       3.691478824 Ether
Txn_fee                                            0.00084434
Name: 417, dtype: object

In [48]:
transaction.shape

(7013, 9)

In [49]:
transaction.tail()

                                         Address  ...      Txn_fee
7008  0x02154704757515529da04380c984531ad7c48f34  ...  0.000353928
7009  0x02154704757515529da04380c984531ad7c48f34  ...   0.00100062
7010  0x02154704757515529da04380c984531ad7c48f34  ...  0.000235696
7011  0x02154704757515529da04380c984531ad7c48f34  ...    0.0003693
7012  0x02154704757515529da04380c984531ad7c48f34  ...   0.02244624

[5 rows x 9 columns]

In [50]:
(transaction.loc[transaction["blocks"]=="(pending)"])

Empty DataFrame
Columns: [Address, Txn_hash, blocks, date, from, txn_type, to, value, Txn_fee]
Index: []

In [51]:
(transaction.loc[transaction["blocks"]=="(pending)"]).shape

(0, 9)

In [52]:
(transaction.loc[transaction["Txn_fee"]=="(Pending)"])

Empty DataFrame
Columns: [Address, Txn_hash, blocks, date, from, txn_type, to, value, Txn_fee]
Index: []

In [53]:
transaction.shape

(7013, 9)

In [0]:
# replace 'Ether' with '' for 'value' column
transaction['value'] = transaction['value'].str.replace('Ether', '')

In [55]:
# value attribute contains ','
transaction.iloc[46,:]

Address            0x742d35cc6634c0532925a3b844bc454e4438f44e
Txn_hash    0xee5fd59cdbe38a5a13c209f459e45f77b180a2b38be5...
blocks                                                9473460
date                                       2020-02-13 7:59:54
from                                               Bitfinex 5
txn_type                                                  OUT
to                                                 Bitfinex 4
value                                                 50,000
Txn_fee                                              0.000168
Name: 46, dtype: object

In [0]:
# replace ',' with ''
transaction['value'] = transaction['value'].str.replace(',', '')

In [57]:
# value attribute contains 'wei'
print(transaction.iloc[174,:])

Address            0x997114ca0830e9bee7443368fa27f4af2d4e55a6
Txn_hash    0xdd570085f28587501cc42a9bbe7519fc24d241205526...
blocks                                                9341893
date                                       2020-01-24 2:54:08
from               0xcee95ce42d94b35c4f714f0dc23078ab06136102
txn_type                                                  IN
to                                         Plus Token Ponzi 2
value                                                   1 wei
Txn_fee                                                     0
Name: 174, dtype: object

In [58]:
wei = transaction[transaction['value'].str.contains(pat = 'wei') ]
wei

                                         Address  ...   Txn_fee
174   0x997114ca0830e9bee7443368fa27f4af2d4e55a6  ...         0
531   0xab5801a7d398351b8be11c439e05c5b3259aec9b  ...   0.00042
536   0xab5801a7d398351b8be11c439e05c5b3259aec9b  ...   0.00252
729   0x997114ca0830e9bee7443368fa27f4af2d4e55a6  ...         0
1084  0xab5801a7d398351b8be11c439e05c5b3259aec9b  ...   0.00042
...                                          ...  ...       ...
6929  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  0.042544
6930  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  0.042544
6938  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  0.000441
6988  0x738ca94db7ce8be1c3056cd6988eb376359f3353  ...  0.000021
6994  0xde2204c30a452ea2c524f629fcd1e21de25ccd3d  ...  0.000042

[83 rows x 9 columns]

In [0]:
# drop rows with value in wei
transaction = transaction.drop(wei.index,axis = 0)
transaction.reset_index(drop=True, inplace=True)

All 83 rows have wei in value column
Wei refers to the smallest denomination of ether (ETH), the currency used on the Ethereum network. For instance, 1 ether (ETH) is equivalent to 1x10^18 wei (which may also be represented in exponential notation: 1e18 wei).

In [60]:
ether = pow(10,18) 
for i in range(len(wei)):
  wei['value'].iloc[i] = '{0:.30f}'.format(float(wei['value'].iloc[i].split(' ')[0])/ether)
wei

                                         Address  ...   Txn_fee
174   0x997114ca0830e9bee7443368fa27f4af2d4e55a6  ...         0
531   0xab5801a7d398351b8be11c439e05c5b3259aec9b  ...   0.00042
536   0xab5801a7d398351b8be11c439e05c5b3259aec9b  ...   0.00252
729   0x997114ca0830e9bee7443368fa27f4af2d4e55a6  ...         0
1084  0xab5801a7d398351b8be11c439e05c5b3259aec9b  ...   0.00042
...                                          ...  ...       ...
6929  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  0.042544
6930  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  0.042544
6938  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  0.000441
6988  0x738ca94db7ce8be1c3056cd6988eb376359f3353  ...  0.000021
6994  0xde2204c30a452ea2c524f629fcd1e21de25ccd3d  ...  0.000042

[83 rows x 9 columns]

In [61]:
transaction = pd.concat([transaction, wei], ignore_index=True)
transaction.head()

                                      Address  ...         Txn_fee
0  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...      0.00057476
1  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  0.000331395136
2  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...      0.00057476
3  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...      0.00027996
4  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...      0.00057476

[5 rows x 9 columns]

In [62]:
transaction.shape

(7013, 9)

In [63]:
transaction.tail()

                                         Address  ...   Txn_fee
7008  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  0.042544
7009  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  0.042544
7010  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  0.000441
7011  0x738ca94db7ce8be1c3056cd6988eb376359f3353  ...  0.000021
7012  0xde2204c30a452ea2c524f629fcd1e21de25ccd3d  ...  0.000042

[5 rows x 9 columns]

In [64]:
a = transaction[transaction['value'].str.contains(pat = '[a-zA-Z]', regex = True) ]
a.index = range(len(a))
a

Empty DataFrame
Columns: [Address, Txn_hash, blocks, date, from, txn_type, to, value, Txn_fee]
Index: []

In [0]:
transaction['value'] = pd.to_numeric(transaction['value'])
transaction['Txn_fee'] = pd.to_numeric(transaction['Txn_fee'])

In [66]:
transaction.dtypes

Address      object
Txn_hash     object
blocks       object
date         object
from         object
txn_type     object
to           object
value       float64
Txn_fee     float64
dtype: object

In [0]:
# transaction['date'] =transaction['date'].str

In [68]:
transaction.dtypes

Address      object
Txn_hash     object
blocks       object
date         object
from         object
txn_type     object
to           object
value       float64
Txn_fee     float64
dtype: object

In [0]:
# split the 'date' column into 2 columns 
transaction[['Date','Time']] = transaction['date'].str.split(" ", n = 1, expand = True)

# n - int, default -1 (all)
# Limit number of splits in output. None, 0 and -1 will be interpreted as return all splits.

# expand - bool, default False
# Expand the splitted strings into separate columns.

In [71]:
transaction.head()

                                      Address  ...     Time
0  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  8:10:18
1  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  8:08:48
2  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  8:08:48
3  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  8:06:22
4  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  8:04:14

[5 rows x 11 columns]

In [0]:
transaction[['Year','Month','Day']] = transaction['Date'].str.split("-", n = 2, expand = True).astype('str')

In [73]:
transaction.head()

                                      Address  ... Day
0  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  13
1  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  13
2  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  13
3  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  13
4  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  13

[5 rows x 14 columns]

In [0]:
transaction = transaction.drop('date',axis=1)
transaction = transaction.drop('Date',axis=1)

In [75]:
transaction.head()

                                      Address  ... Day
0  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  13
1  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  13
2  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  13
3  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  13
4  0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2  ...  13

[5 rows x 12 columns]

In [76]:
transaction.dtypes

Address      object
Txn_hash     object
blocks       object
from         object
txn_type     object
to           object
value       float64
Txn_fee     float64
Time         object
Year         object
Month        object
Day          object
dtype: object

In [87]:
transaction.loc[transaction["txn_type"]=="OUT"]

                                         Address  ... Day
21    0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...  12
22    0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...  12
23    0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...  07
24    0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...  06
25    0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  ...  06
...                                          ...  ...  ..
6934  0xab5801a7d398351b8be11c439e05c5b3259aec9b  ...  09
6958  0xceffc7330317f72957c662d072a5e7d63b9b578c  ...  19
6972  0x5a85aafa7fbca99ea32df27c33b14831feeb20f9  ...  24
6973  0x5a85aafa7fbca99ea32df27c33b14831feeb20f9  ...  21
7010  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  27

[2065 rows x 12 columns]

In [88]:
transaction['txn_type'].iloc[0]

'\xa0IN\xa0'

In [0]:
transaction["txn_type"] = transaction["txn_type"].str.replace('\xa0','')

In [90]:
transaction['txn_type'].iloc[0]

'IN'

In [0]:
addr_group = transaction.groupby('Address')

In [94]:
addr_group.get_group('0xd28c567f1b52119b32a3af6066c36149c2f86d12')

                                         Address  ... Day
6851  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  25
6852  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  25
6853  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  25
6854  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  24
6855  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  14
6856  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  14
6857  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  27
6858  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  26
6994  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  10
6995  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  10
6996  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  09
6997  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  09
6998  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  09
6999  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  09
7000  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  09
7001  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  09
7002  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  09
7003  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  09
7004  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  09
7005  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  09
7006  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  09
7007  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  08
7008  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  08
7009  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  08
7010  0xd28c567f1b52119b32a3af6066c36149c2f86d12  ...  27

[25 rows x 12 columns]

In [95]:
addr_group.groupby('txn_type')

AttributeError: ignored