<a href="https://colab.research.google.com/github/mshilpaa/ethereum-data-analysis/blob/master/joined_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
in_txn = pd.read_csv('/content/gdrive/My Drive/project_data/in_txn.csv')
out_txn = pd.read_csv('/content/gdrive/My Drive/project_data/out_txn.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
in_txn.shape

(2207451, 4)

In [6]:
in_txn.dtypes

address                  object
no_of_in_transactions     int64
tot_ether_recieved       object
tax_type                 object
dtype: object

In [7]:
out_txn.shape

(2290371, 4)

In [8]:
out_txn.dtypes

address                   object
no_of_out_transactions     int64
tot_ether_sent            object
tax_type                  object
dtype: object

In [13]:
in_out_txn = pd.merge(in_txn, out_txn, on='address', how='inner')
in_out_txn.shape

(2207451, 7)

In [14]:
in_out_txn

                                            address  ...  tax_type_y
0        0xd4f8e83864c80ea703dd148c78b937cbec200243  ...         OUT
1        0x2bbed5e19de4fef234845c9ccdddbbef7cd531ba  ...         OUT
2        0xd9052a62ee61eec200c1972aa2a19fa3d5396b6d  ...         OUT
3        0xe6b4a32cc822980d652bb185b33db6be69d39a13  ...         OUT
4        0x450fbad4690c9800bbd3b3bb7f051e6bfc886b62  ...         OUT
...                                             ...  ...         ...
2207446  0x3e89863292284e8bfd0522c6a3c3734df4b5c472  ...         OUT
2207447  0x81d275b2a6ad50efc907ab067a875494b906449d  ...         OUT
2207448  0x04d68481505b6c93d9a2e0e8292bc7895bbfd20f  ...         OUT
2207449  0xa48c4c5d56220d44e4536b61a9e04910ff91ee67  ...         OUT
2207450  0xa2499e68670785b0192bcf74cff5cf250bcf3662  ...         OUT

[2207451 rows x 7 columns]

In [0]:
tokens_recieved = pd.read_csv('/content/gdrive/My Drive/project_data/tokens_recieved.csv')
tokens_sent =pd.read_csv('/content/gdrive/My Drive/project_data/tokens_sent.csv')

In [15]:
print(tokens_recieved.shape)
print(tokens_recieved.dtypes)

(935362, 4)
address                          object
tot_distinct_tokens_recieved      int64
tot_tokens_recieved               int64
tot_token_value_recieved        float64
dtype: object

In [16]:
print(tokens_sent.shape)
print(tokens_sent.dtypes)

(793284, 4)
address                      object
tot_distinct_tokens_sent      int64
tot_tokens_sent               int64
tot_token_value_sent        float64
dtype: object

In [19]:
in_out_token_sent = pd.merge(in_out_txn,tokens_recieved, on='address', how='inner')
in_out_token_sent.shape

(935362, 10)

In [20]:
in_out_token_sent

                                           address  ...  tot_token_value_recieved
0       0xd4f8e83864c80ea703dd148c78b937cbec200243  ...              9.393942e+06
1       0x2bbed5e19de4fef234845c9ccdddbbef7cd531ba  ...              8.888880e+13
2       0xd9052a62ee61eec200c1972aa2a19fa3d5396b6d  ...              1.870353e+11
3       0xe6b4a32cc822980d652bb185b33db6be69d39a13  ...              4.639691e+22
4       0x9f265a9675dea8f97139015f62c84af1f6d687ae  ...              2.000000e+20
...                                            ...  ...                       ...
935357  0xc9205a6851ea79d3f77ace712bb7e28c12159234  ...              1.009642e+24
935358  0x3dbab7d401918c51e2023f359253f25f00acb778  ...              9.110000e+02
935359  0x53a7100dafa3f83deea60faf9a7e15c96ec9dac9  ...              7.026999e+21
935360  0x2245d0f353a978ca6bb00f5f7079c1aa21bd6622  ...              7.204710e+23
935361  0x28ee172f7a9efc4ca3423391a1c160031c056ab1  ...              4.996547e+24

[935362 rows x 10 columns]

In [21]:
data = pd.merge(in_out_token_sent,tokens_sent, on='address', how='inner')
data.shape

(776499, 13)

In [22]:
data

                                           address  ...  tot_token_value_sent
0       0xd4f8e83864c80ea703dd148c78b937cbec200243  ...          9.393942e+06
1       0xd9052a62ee61eec200c1972aa2a19fa3d5396b6d  ...          1.870353e+11
2       0xe6b4a32cc822980d652bb185b33db6be69d39a13  ...          4.260856e+22
3       0x9f265a9675dea8f97139015f62c84af1f6d687ae  ...          2.000000e+20
4       0xbad9298ef9a0c40ed1fb299a5e42269589aa15af  ...          1.000000e+20
...                                            ...  ...                   ...
776494  0xb19404a929989fc0c77f2666c114b3774ec59491  ...          2.662393e+06
776495  0x652eefae4b3a297a7cf9ef382d0dac5d880ae5cd  ...          3.599863e+20
776496  0x31749690f34f696282c4e10923c46d96ebcabebe  ...          2.171251e+20
776497  0x53a7100dafa3f83deea60faf9a7e15c96ec9dac9  ...          6.336999e+21
776498  0x28ee172f7a9efc4ca3423391a1c160031c056ab1  ...          4.996547e+24

[776499 rows x 13 columns]

In [0]:
data.to_csv(r'/content/gdrive/My Drive/project_data/data.csv', index = False)