<a href="https://colab.research.google.com/github/mshilpaa/ethereum-data-analysis/blob/master/join.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
in_txn = pd.read_csv('/content/gdrive/My Drive/1 project - bq-eth-data/in_transaction.csv',names=['address', 'tot_in_transactions', 'tot_ether_recieved', 'txn_type1','avg_ether_recieved'])
out_txn = pd.read_csv('/content/gdrive/My Drive/1 project - bq-eth-data/out_transaction.csv',names=['address', 'tot_out_transactions', 'tot_ether_sent', 'txn_type2','avg_ether_sent'])
active_months = pd.read_csv('/content/gdrive/My Drive/1 project - bq-eth-data/ActiveMonths.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
in_txn.head(5)

                                      address  ...               avg_ether_recieved
0                                  to_address  ...               avg_ether_recieved
1  0x1a862e3e81dc01602c62bd0925ea8c2675eb9acd  ...     999114815497711756.390977444
2  0x7a2dfc770e24368131b7847795f203f3d50d5b56  ...    6823122074101260928.881889764
3  0x31a204f032d84b4a20913b3f9954a5e5b731108d  ...     307597684955102253.740540541
4  0xff7a9c981a23d29f9858346e19288d8d959f9659  ...  138679874121790206039.130434783

[5 rows x 5 columns]

In [0]:

# drop the row with column names
in_txn = in_txn.drop([0],axis = 0)
in_txn.reset_index(drop=True, inplace=True)

out_txn = out_txn.drop([0],axis = 0)
out_txn.reset_index(drop=True, inplace=True)

In [6]:
in_txn.shape

(243555, 5)

In [7]:
in_txn.dtypes

address                object
tot_in_transactions    object
tot_ether_recieved     object
txn_type1              object
avg_ether_recieved     object
dtype: object

In [8]:
out_txn.shape

(228058, 5)

In [9]:
out_txn.dtypes

address                 object
tot_out_transactions    object
tot_ether_sent          object
txn_type2               object
avg_ether_sent          object
dtype: object

In [10]:
active_months.dtypes

address          object
active_months     int64
dtype: object

In [11]:
in_txn.head()

                                      address  ...               avg_ether_recieved
0  0x1a862e3e81dc01602c62bd0925ea8c2675eb9acd  ...     999114815497711756.390977444
1  0x7a2dfc770e24368131b7847795f203f3d50d5b56  ...    6823122074101260928.881889764
2  0x31a204f032d84b4a20913b3f9954a5e5b731108d  ...     307597684955102253.740540541
3  0xff7a9c981a23d29f9858346e19288d8d959f9659  ...  138679874121790206039.130434783
4  0xaf07c4eeb852d72d1d36429fc54bb86d9f93b4b3  ...      67000291509480221.834146341

[5 rows x 5 columns]

In [12]:
out_txn.head()

                                      address  ...                  avg_ether_sent
0  0xd92bc63c64807dc6eb13888d49d393193dfe9aee  ...    261480823098484145.971717172
1  0x8eaa2a778b6d6d8db6d0827b05047d6938a99ca2  ...   1998208317924528301.886792453
2  0x7758d79c8fa4747a44577b8780ed8534d5e1945f  ...    140814516683457472.230508475
3  0xe7196bc5c6d8d589668e8d2a2ed7789ae26f8486  ...  50786691276331042796.317073171
4  0xf34b14de6005db81d58118d2fbb47fa3cca40b50  ...    4358958103785833442.62295082

[5 rows x 5 columns]

In [13]:
in_out_txn = in_txn.set_index('address').combine_first(out_txn.set_index('address')).reset_index()
in_out_txn

                                           address  ... txn_type2
0       0x00000000000000000000000000000000ceded112  ...       NaN
1       0x00000000000000000000783ca9a35f62b9903342  ...       NaN
2       0x00000000000000000000d93ec846014b97a5cfe8  ...       NaN
3       0x0000000103026f36d9f2ba6468d2816cd5dce83a  ...       NaN
4       0x000000ea435472a1a3dd7c7b3a4a143bbe7ed7dc  ...       OUT
...                                            ...  ...       ...
471608  0xffffa42add7d614ede3fef9edc69d7058feba401  ...       OUT
471609  0xffffa6aed42f787abd181670d492387a51128a8d  ...       OUT
471610  0xffffc0935611200467d8bb98506a91cc4934a7e4  ...       OUT
471611  0xffffc638d3766af972e67cecc737ae2caa9964de  ...       NaN
471612  0xffffcf18008673b4852f79417d1e1be1cafdc06e  ...       OUT

[471613 rows x 9 columns]

In [14]:
d = pd.merge(in_txn, out_txn, on='address', how='inner')
d.shape

(0, 9)

In [15]:
d = pd.merge(out_txn, active_months, on='address', how='inner')
d.shape

(1551, 6)

In [16]:
active_months.shape

(472483, 2)