<a href="https://colab.research.google.com/github/mshilpaa/ethereum-data-analysis/blob/master/Malicious_Address_Prediction/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
addr_labels = pd.read_csv('/content/gdrive/My Drive/project_data/addr-darklist.csv')
in_out = pd.read_csv('/content/gdrive/My Drive/project_data/malicious_in_out.csv')
balance = pd.read_csv('/content/gdrive/My Drive/project_data/malicious_balance.csv')
monthly = pd.read_csv('/content/gdrive/My Drive/project_data/malicious_monthly.csv')
active = pd.read_csv('/content/gdrive/My Drive/project_data/malicious_active_months.csv')
time_bw_txn = pd.read_csv('/content/gdrive/My Drive/project_data/malicious_time_bw_txn.csv')
token = pd.read_csv('/content/gdrive/My Drive/project_data/malicious_token.csv')

In [4]:
print(addr_labels.shape)
print(addr_labels.dtypes)
addr_labels.head(5)

(695, 3)
address    object
comment    object
date       object
dtype: object

                                      address  ...        date
0  0x90a16ebcf1bc0da0347134f707da93c40bb8a4c5  ...  2019-03-01
1  0x983bda798a24720bb4fe3dba287ec352e7b440fc  ...  2019-03-01
2  0x45029af827c652f47b1f678456b2cd009647c8ad  ...  2019-03-01
3  0xF193a9aFb00715AaCF7ca9Ebffafe02C77517C2E  ...  2018-11-06
4  0xcc02b920ae227f1be7d01fc241c27e5f74d40436  ...  2018-10-28

[5 rows x 3 columns]

In [5]:
print(in_out.shape)
print(in_out.dtypes)
in_out.head(5)

(256, 6)
address1                   object
address2                   object
no_of_out_transactions    float64
tot_ether_sent             object
no_of_in_transactions       int64
tot_ether_recieved         object
dtype: object

                                     address1  ...     tot_ether_recieved
0  0xbc85a12364c9e375801c00aad17b893fc4c8f5b6  ...    2814843618099494913
1  0xaca33c43bd8deac8e1d144baa51fe9c7dd7b010f  ...  740700000000000000000
2                                         NaN  ...                      0
3  0xe4faeef4002c200d9d4f1d381ccb5fb679d1c437  ...    1418314490000000000
4  0xc169a0e826f22fc7d37a48aaa346ffb4521c35cd  ...   36669664048000000000

[5 rows x 6 columns]

In [6]:
in_out.isna().sum()

address1                  133
address2                    0
no_of_out_transactions    133
tot_ether_sent            133
no_of_in_transactions       0
tot_ether_recieved          0
dtype: int64

In [7]:
print(balance.shape)
print(balance.dtypes)
balance.head(5)

(262, 2)
address        object
eth_balance    object
dtype: object

                                      address       eth_balance
0  0xddff022e4befa69cbb5262446a8ae564700bea24                 0
1  0x116574a18659f0063150e0064e4ea00349a1492c                 0
2  0xce52d38539e1e557f184f1073a59f69c9ba95f28                 0
3  0x5b67a30108e1a5f3d5a809d57e76cd16fdfde7a7  6000000000000000
4  0xa8454096f4a18e0252b411f670b3dd9d21465e75                 0

In [8]:
balance.isna().sum()

address        0
eth_balance    0
dtype: int64

In [9]:
print(monthly.shape)
print(monthly.dtypes)
monthly.head(5)

(256, 4)
address1            object
address2            object
monthly_out_txn    float64
monthly_in_txn     float64
dtype: object

                                     address1  ... monthly_in_txn
0  0xbc85a12364c9e375801c00aad17b893fc4c8f5b6  ...           2.25
1  0x2056d2e97cc9ad78cf527b382495a8b9704ce011  ...           3.00
2                                         NaN  ...           2.50
3  0xf4c87c851d772b0f9e72cca0690327f2bc505015  ...           5.00
4  0xd3d7c71e4c5b1ff2f42fbb9b4a21f3373aa8b3b0  ...           2.00

[5 rows x 4 columns]

In [10]:
monthly.isna().sum()

address1           133
address2             0
monthly_out_txn    133
monthly_in_txn       0
dtype: int64

In [11]:
print(active.shape)
print(active.dtypes)
active.head(5)

(256, 2)
address          object
active_months     int64
dtype: object

                                      address  active_months
0  0x22eb0b23e5ad7ef827aff13b2e40ed63e277844e              7
1  0x68a91eba9c82b475091077e16357bb2dded479f4              1
2  0x5bc989f38ec9b913b0fbd8b702858214d428a1bd              2
3  0xd0cc2b24980cbcca47ef755da88b220a82291407              3
4  0xe1632e7e0dc135f3bc8991b917e8b682ab340fe1              3

In [12]:
active.isna().sum()

address          0
active_months    0
dtype: int64

In [13]:
print(time_bw_txn.shape)
print(time_bw_txn.dtypes)
time_bw_txn.head(5)

(256, 6)
address1            object
no_of_in_txn         int64
total_count          int64
address2            object
no_of_out_txn      float64
total_out_count    float64
dtype: object

                                     address1  ...  total_out_count
0  0x116574a18659f0063150e0064e4ea00349a1492c  ...              NaN
1  0x47dc6f08214f891cc910d6d2abfb504c2584f14f  ...              NaN
2  0xaa1886de3f70a3ef502ea1379a311c5b4e05f3fd  ...             28.0
3  0x0a4392f623faf54de72cbf6f567e1a7808251cd3  ...              4.0
4  0x91ef0754d270e67f2ca92595f5a1c0459ec7df89  ...              NaN

[5 rows x 6 columns]

In [0]:
def drop_columns(df,columns=[]):
  for i in columns:
    df = df.drop(i,axis=1)
  return df

In [0]:
time_bw_txn['time_b/w_out_txn'] = time_bw_txn['no_of_out_txn'].div(time_bw_txn['total_out_count'])
time_bw_txn['time_b/w_in_txn'] = time_bw_txn['no_of_in_txn'].div(time_bw_txn['total_count'])

In [0]:
time_bw_txn = drop_columns(time_bw_txn,['no_of_in_txn','total_count',	'no_of_out_txn',	'total_out_count'])

In [17]:
time_bw_txn.isna().sum()

address1              0
address2            133
time_b/w_out_txn    133
time_b/w_in_txn       0
dtype: int64

In [18]:
print(token.shape)
print(token.dtypes)
token.head(5)

(103, 8)
address1                         object
address2                         object
tot_distinct_tokens_recieved      int64
tot_tokens_recieved               int64
tot_token_value_recieved        float64
tot_distinct_tokens_sent        float64
tot_tokens_sent                 float64
tot_token_value_sent            float64
dtype: object

                                     address1  ... tot_token_value_sent
0  0xaca33c43bd8deac8e1d144baa51fe9c7dd7b010f  ...         5.231796e+23
1  0x858457daa7e087ad74cdeeceab8419079bc2ca03  ...         9.581459e+23
2  0xda657e9fa116900fab8178e5580a3a6cedd89f3c  ...         4.092339e+23
3  0x4de76b3dfd38292ba71cf2465ca3a1d526dcb567  ...                  NaN
4  0x35ad1cb9a39de486cebcce3cf51661fd6c848193  ...                  NaN

[5 rows x 8 columns]

In [19]:
token.isna().sum()

address1                         0
address2                        59
tot_distinct_tokens_recieved     0
tot_tokens_recieved              0
tot_token_value_recieved         0
tot_distinct_tokens_sent        59
tot_tokens_sent                 59
tot_token_value_sent            59
dtype: int64

In [0]:
def combine_columns(df,column1,column2,new_column):
  df[new_column] = '' 
  for i in range(len(df)):
    if df[column1].iloc[i] == df[column2].iloc[i] or df[column2].iloc[i] == 'NaN':
      df[new_column].iloc[i] = df[column1].iloc[i]
    else:
      df[new_column].iloc[i] = df[column2].iloc[i]
  df = df.drop(column1,axis=1)
  df = df.drop(column2,axis=1)
  return df

In [21]:
in_out = combine_columns(in_out,'address1','address2','address')
monthly= combine_columns(monthly,'address1','address2','address')
token = combine_columns(token,'address1','address2','address')
time_bw_txn = combine_columns(time_bw_txn,'address1','address2','address')

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [0]:
def stats(df,stat = ['shape','null','dtypes']):
  if 'shape' in stat:
    print('shape: ',df.shape,end='\n\n')
  if 'null' in stat :
    print('Null values: ')
    print(df.isna().sum(),end='\n\n')
  if 'dtypes' in stat:
    print("dtypes: ")
    print(df.dtypes,end='\n\n')

In [0]:
m_df = pd.merge(addr_labels,in_out,how='inner',on='address')
m_df = pd.merge(m_df,monthly,how='inner' , on='address')
m_df = pd.merge(m_df,active,how='inner' , on='address')
m_df = pd.merge(m_df,balance,how='inner' , on='address')

In [0]:
m_df= pd.merge(m_df,time_bw_txn,how='left' , on='address')

In [25]:
stats(m_df)

shape:  (267, 13)

Null values:
address                     0
comment                   142
date                        8
no_of_out_transactions    135
tot_ether_sent            135
no_of_in_transactions       0
tot_ether_recieved          0
monthly_out_txn           135
monthly_in_txn              0
active_months               0
eth_balance                 0
time_b/w_out_txn          135
time_b/w_in_txn           135
dtype: int64

dtypes:
address                    object
comment                    object
date                       object
no_of_out_transactions    float64
tot_ether_sent             object
no_of_in_transactions       int64
tot_ether_recieved         object
monthly_out_txn           float64
monthly_in_txn            float64
active_months               int64
eth_balance                object
time_b/w_out_txn          float64
time_b/w_in_txn           float64
dtype: object

In [0]:
m_df = pd.merge(m_df,token,how='left' , on='address')

In [27]:
stats(m_df,stat = ['shape','null'])

shape:  (267, 19)

Null values:
address                           0
comment                         142
date                              8
no_of_out_transactions          135
tot_ether_sent                  135
no_of_in_transactions             0
tot_ether_recieved                0
monthly_out_txn                 135
monthly_in_txn                    0
active_months                     0
eth_balance                       0
time_b/w_out_txn                135
time_b/w_in_txn                 135
tot_distinct_tokens_recieved    215
tot_tokens_recieved             215
tot_token_value_recieved        215
tot_distinct_tokens_sent        215
tot_tokens_sent                 215
tot_token_value_sent            215
dtype: int64

In [28]:
m_df.head(5)

                                      address  ... tot_token_value_sent
0  0x983bda798a24720bb4fe3dba287ec352e7b440fc  ...                  NaN
1  0x45029af827c652f47b1f678456b2cd009647c8ad  ...                  NaN
2  0xcc02b920ae227f1be7d01fc241c27e5f74d40436  ...                  NaN
3  0x181c71726f12ce2514e8b93019eb22645a79f966  ...                  NaN
4  0x2056d2e97cc9ad78cf527b382495a8b9704ce011  ...                  NaN

[5 rows x 19 columns]

In [0]:
m_df = m_df.fillna(0)

In [0]:
m_df = drop_columns(m_df,['tot_distinct_tokens_recieved','tot_tokens_recieved','tot_distinct_tokens_sent','tot_tokens_sent'])

In [0]:
m_df['eth_balance'] = pd.to_numeric(m_df['eth_balance'], downcast="float",errors='coerce')
m_df['monthly_out_txn'] = pd.to_numeric(m_df['monthly_out_txn'], downcast="float",errors='coerce')
m_df['tot_ether_sent'] = pd.to_numeric(m_df['tot_ether_sent'], downcast="float",errors='coerce')
m_df['tot_ether_recieved'] = pd.to_numeric(m_df['tot_ether_recieved'], downcast="float",errors='coerce')

In [0]:
m_df['monthly_ether_sent']=0
m_df['monthly_ether_recieved']=0
m_df['monthly_ether_sent']= m_df['tot_ether_sent' ].div(m_df['active_months'])
m_df['monthly_ether_recieved']= m_df['tot_ether_recieved'].div(m_df['active_months'])

In [0]:
wei = pow(10,18) 
attributes = ['eth_balance', 'tot_ether_recieved', 'tot_ether_sent', 'tot_token_value_recieved','tot_token_value_sent', 'monthly_ether_sent', 'monthly_ether_recieved']
for attr in attributes:
  if m_df[attr].dtype == 'object':
    m_df[attr] = pd.to_numeric(m_df[attr], errors='coerce')
  m_df[attr] = m_df[attr].div(wei)

In [0]:
m_df = drop_columns(m_df,['date'])

**create column 'label' which has values 1 - malicious , 0 - non-malicious**

In [0]:
m_df['label'] = 1

In [37]:
stats(m_df,stat = ['shape','null','dtypes'])

shape:  (267, 17)

Null values:
address                     0
comment                     0
no_of_out_transactions      0
tot_ether_sent              0
no_of_in_transactions       0
tot_ether_recieved          0
monthly_out_txn             0
monthly_in_txn              0
active_months               0
eth_balance                 0
time_b/w_out_txn            0
time_b/w_in_txn             0
tot_token_value_recieved    0
tot_token_value_sent        0
monthly_ether_sent          0
monthly_ether_recieved      0
label                       0
dtype: int64

dtypes:
address                      object
comment                      object
no_of_out_transactions      float64
tot_ether_sent              float64
no_of_in_transactions         int64
tot_ether_recieved          float64
monthly_out_txn             float32
monthly_in_txn              float64
active_months                 int64
eth_balance                 float64
time_b/w_out_txn            float64
time_b/w_in_txn             float64
tot_token_value_recieved    float64
tot_token_value_sent        float64
monthly_ether_sent          float64
monthly_ether_recieved      float64
label                         int64
dtype: object

In [38]:
m_df.head(5)

                                      address  ... label
0  0x983bda798a24720bb4fe3dba287ec352e7b440fc  ...     1
1  0x45029af827c652f47b1f678456b2cd009647c8ad  ...     1
2  0xcc02b920ae227f1be7d01fc241c27e5f74d40436  ...     1
3  0x181c71726f12ce2514e8b93019eb22645a79f966  ...     1
4  0x2056d2e97cc9ad78cf527b382495a8b9704ce011  ...     1

[5 rows x 17 columns]

In [0]:
non_m_df = pd.read_csv('/content/gdrive/My Drive/project_data/final_data.csv')

In [40]:
pd.merge(m_df,non_m_df,how='inner',on='address')

Empty DataFrame
Columns: [address, comment, no_of_out_transactions_x, tot_ether_sent_x, no_of_in_transactions_x, tot_ether_recieved_x, monthly_out_txn_x, monthly_in_txn_x, active_months_x, eth_balance_x, time_b/w_out_txn_x, time_b/w_in_txn_x, tot_token_value_recieved_x, tot_token_value_sent_x, monthly_ether_sent_x, monthly_ether_recieved_x, label, no_of_in_transactions_y, tot_ether_recieved_y, eth_balance_y, no_of_out_transactions_y, tot_ether_sent_y, tot_token_value_recieved_y, tot_token_value_sent_y, time_b/w_in_txn_y, time_b/w_out_txn_y, active_months_y, monthly_out_txn_y, monthly_in_txn_y, monthly_ether_sent_y, monthly_ether_recieved_y]
Index: []

In [0]:
nm_df = non_m_df[:len(m_df)].copy()

In [0]:
nm_df['comment'] = 'Non Malicious'
nm_df['label'] = 0

In [45]:
stats(nm_df)

shape:  (267, 17)

Null values:
address                     0
no_of_in_transactions       0
tot_ether_recieved          0
eth_balance                 0
no_of_out_transactions      0
tot_ether_sent              0
tot_token_value_recieved    0
tot_token_value_sent        0
time_b/w_in_txn             0
time_b/w_out_txn            0
active_months               0
monthly_out_txn             0
monthly_in_txn              0
monthly_ether_sent          0
monthly_ether_recieved      0
comment                     0
label                       0
dtype: int64

dtypes:
address                      object
no_of_in_transactions         int64
tot_ether_recieved          float64
eth_balance                 float64
no_of_out_transactions        int64
tot_ether_sent              float64
tot_token_value_recieved    float64
tot_token_value_sent        float64
time_b/w_in_txn             float64
time_b/w_out_txn            float64
active_months                 int64
monthly_out_txn             float64
monthly_in_txn              float64
monthly_ether_sent          float64
monthly_ether_recieved      float64
comment                      object
label                         int64
dtype: object

In [42]:
nm_df.head(5)

                                      address  ...  monthly_ether_recieved
0  0xd4f8e83864c80ea703dd148c78b937cbec200243  ...                0.013500
1  0xd9052a62ee61eec200c1972aa2a19fa3d5396b6d  ...                0.001724
2  0xe6b4a32cc822980d652bb185b33db6be69d39a13  ...                3.355371
3  0x9f265a9675dea8f97139015f62c84af1f6d687ae  ...                0.525000
4  0xbad9298ef9a0c40ed1fb299a5e42269589aa15af  ...                1.275021

[5 rows x 15 columns]

In [0]:
df =m_df.append(nm_df, ignore_index=True)

In [53]:
df.head(5)

                                      address  ... label
0  0x983bda798a24720bb4fe3dba287ec352e7b440fc  ...     1
1  0x45029af827c652f47b1f678456b2cd009647c8ad  ...     1
2  0xcc02b920ae227f1be7d01fc241c27e5f74d40436  ...     1
3  0x181c71726f12ce2514e8b93019eb22645a79f966  ...     1
4  0x2056d2e97cc9ad78cf527b382495a8b9704ce011  ...     1

[5 rows x 17 columns]

In [54]:
stats(df)

shape:  (534, 17)

Null values:
address                     0
comment                     0
no_of_out_transactions      0
tot_ether_sent              0
no_of_in_transactions       0
tot_ether_recieved          0
monthly_out_txn             0
monthly_in_txn              0
active_months               0
eth_balance                 0
time_b/w_out_txn            0
time_b/w_in_txn             0
tot_token_value_recieved    0
tot_token_value_sent        0
monthly_ether_sent          0
monthly_ether_recieved      0
label                       0
dtype: int64

dtypes:
address                      object
comment                      object
no_of_out_transactions      float64
tot_ether_sent              float64
no_of_in_transactions         int64
tot_ether_recieved          float64
monthly_out_txn             float64
monthly_in_txn              float64
active_months                 int64
eth_balance                 float64
time_b/w_out_txn            float64
time_b/w_in_txn             float64
tot_token_value_recieved    float64
tot_token_value_sent        float64
monthly_ether_sent          float64
monthly_ether_recieved      float64
label                         int64
dtype: object

In [0]:
df.to_csv(r'/content/gdrive/My Drive/project_data/malicious_prediction_data.csv', index = False)