<a href="https://colab.research.google.com/github/mshilpaa/ethereum-data-analysis/blob/master/OrderBy/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
balance = pd.read_csv('/content/gdrive/My Drive/data/balance.csv')
in_out = pd.read_csv('/content/gdrive/My Drive/data/in_out.csv')

In [7]:
print(balance.shape)
print(balance.dtypes)
balance.head(5)

(230388, 2)
address        object
eth_balance    object
dtype: object

                                      address                eth_balance
0  0x742d35cc6634c0532925a3b844bc454e4438f44e  3766950585232841500000001
1  0xdc76cd25977e0a5ae17155770273ad58648900d3  3125760535463887010445000
2  0xbe0eb53f46cd790cd13851d5eff43d12404d33e8  2507764455210705136041544
3  0x53d284357ec70ce289d6d64134dfac8e511c8a3d  1378754144654898911481302
4  0xe853c56864a2ebe4576a807d26fdc4a0ada51919   801052799959724594886000

In [8]:
in_out.head(5)

                                      address  ...     tot_ether_recieved
0  0x009397bc32484a7cf17733ecb73031ce991c985a  ...   18909285394285401856
1  0x71b3cf6391e811d3bb14f801f92c0b3a7d6af3b6  ...  384450821769458619620
2  0x61b343eff40366274bf360f414d422a0dafb30e1  ...   70054063101365460417
3  0xee42c0affa3aef8bf92254b254faabd540899e6f  ...    8565631618907502600
4  0x7f284b98a43dc5c447fc75f28d5986448acf2a9f  ...   25124266874035927834

[5 rows x 5 columns]

In [9]:
in_out.shape

(230388, 5)

In [10]:
in_out.dtypes

address                   object
no_of_out_transactions     int64
tot_ether_sent            object
no_of_in_transactions      int64
tot_ether_recieved        object
dtype: object

In [11]:
b_in_txn = pd.merge(in_out, balance, on='address', how='inner')
b_in_txn.shape

(230388, 6)

In [12]:
b_in_txn.head(5)

                                      address  ...            eth_balance
0  0x009397bc32484a7cf17733ecb73031ce991c985a  ...   16526865394285401856
1  0x71b3cf6391e811d3bb14f801f92c0b3a7d6af3b6  ...  202450720129458619620
2  0x61b343eff40366274bf360f414d422a0dafb30e1  ...   18907564661365460417
3  0xee42c0affa3aef8bf92254b254faabd540899e6f  ...    6565568618907502600
4  0x7f284b98a43dc5c447fc75f28d5986448acf2a9f  ...   19713997846577476085

[5 rows x 6 columns]

In [13]:
in_out_txn = b_in_txn
in_out_txn.shape

(230388, 6)

In [14]:
in_out_txn.dtypes

address                   object
no_of_out_transactions     int64
tot_ether_sent            object
no_of_in_transactions      int64
tot_ether_recieved        object
eth_balance               object
dtype: object

In [15]:
in_out_txn.head(5)

                                      address  ...            eth_balance
0  0x009397bc32484a7cf17733ecb73031ce991c985a  ...   16526865394285401856
1  0x71b3cf6391e811d3bb14f801f92c0b3a7d6af3b6  ...  202450720129458619620
2  0x61b343eff40366274bf360f414d422a0dafb30e1  ...   18907564661365460417
3  0xee42c0affa3aef8bf92254b254faabd540899e6f  ...    6565568618907502600
4  0x7f284b98a43dc5c447fc75f28d5986448acf2a9f  ...   19713997846577476085

[5 rows x 6 columns]

In [0]:
tokens_recieved = pd.read_csv('/content/gdrive/My Drive/data/token_recieved.csv')
tokens_sent =pd.read_csv('/content/gdrive/My Drive/data/tokens_sent.csv')

In [17]:
tokens_recieved.head(5)

                                      address  ...  tot_token_value_recieved
0  0xbc2486e56084155e7aaca06d0db146969eb5bde5  ...              8.888880e+13
1  0xa618c91e22abb237a0e064c92df8f68aa2c4eb13  ...              6.023340e+19
2  0x701dd50695cc1f6204cad3ac509cacb87be88213  ...              6.490041e+18
3  0xed10b9b0b2e56ae601d38c0bd70db6baf4298a79  ...              8.888880e+13
4  0x9d99475d67bf78bf39122c1827458f196f295eed  ...              9.003769e+18

[5 rows x 4 columns]

In [18]:
print(tokens_recieved.shape)
print(tokens_recieved.dtypes)

(224860, 4)
address                          object
tot_distinct_tokens_recieved      int64
tot_tokens_recieved               int64
tot_token_value_recieved        float64
dtype: object

In [19]:
tokens_sent.head(5)

                                      address  ...  tot_token_value_sent
0  0xa4e62e8bc1eed15e5994d2b249992d63d525887e  ...          1.174306e+22
1  0x100d720fbbfdba8bce6fb6fb152561553ed2bda0  ...          4.547000e+10
2  0xfd47bf56a9ce93b7907034a3ba057ee179cb60af  ...          4.532303e+11
3  0xb7776f4d6523c853112b2d47ed3285e23698b272  ...          1.230936e+22
4  0x00abd7926c4cb8eee4756ab141ac3ec290a78ebe  ...          8.930030e+23

[5 rows x 4 columns]

In [20]:
print(tokens_sent.shape)
print(tokens_sent.dtypes)

(98230, 4)
address                      object
tot_distinct_tokens_sent      int64
tot_tokens_sent               int64
tot_token_value_sent        float64
dtype: object

In [21]:
in_out_token_sent = pd.merge(in_out_txn,tokens_recieved, on='address', how='inner')
in_out_token_sent.shape

(224860, 9)

In [22]:
in_out_token_sent.dtypes

address                          object
no_of_out_transactions            int64
tot_ether_sent                   object
no_of_in_transactions             int64
tot_ether_recieved               object
eth_balance                      object
tot_distinct_tokens_recieved      int64
tot_tokens_recieved               int64
tot_token_value_recieved        float64
dtype: object

In [23]:
in_out_token_sent.head(5)

                                      address  ...  tot_token_value_recieved
0  0x009397bc32484a7cf17733ecb73031ce991c985a  ...              6.433577e+22
1  0x71b3cf6391e811d3bb14f801f92c0b3a7d6af3b6  ...              1.531765e+22
2  0x61b343eff40366274bf360f414d422a0dafb30e1  ...              1.576596e+21
3  0xee42c0affa3aef8bf92254b254faabd540899e6f  ...              1.964063e+22
4  0x7f284b98a43dc5c447fc75f28d5986448acf2a9f  ...              1.900797e+21

[5 rows x 9 columns]

In [24]:
data1 = pd.merge(in_out_token_sent,tokens_sent, on='address', how='inner')
data1.shape

(98230, 12)

In [25]:
data1.head(5)

                                      address  ...  tot_token_value_sent
0  0x61b343eff40366274bf360f414d422a0dafb30e1  ...          1.000000e+20
1  0xee42c0affa3aef8bf92254b254faabd540899e6f  ...          1.000000e+20
2  0xc1d0bb46ac0e6d34dc94de4f3c64b1d1fd846bc8  ...          1.000000e+20
3  0x11bc4233e44e270f51ddd372471e251552f8b593  ...          1.000000e+20
4  0xae083ff8f14b5b831b331c59d4f192bbbe170e21  ...          1.000000e+20

[5 rows x 12 columns]

In [0]:
time_in = pd.read_csv('/content/gdrive/My Drive/data/avg_incoming_trans.csv')

In [27]:
print(time_in.shape)
print(time_in.dtypes)
time_in.head(5)

(98230, 3)
address                  object
no_of_in_transactions     int64
total_count               int64
dtype: object

                                      address  ...  total_count
0  0x076656146d0226c60b0ac92c406e7e32dd71d666  ...          256
1  0x0409e760194055418c34045193704cc32f9ea80d  ...          256
2  0xae083ff8f14b5b831b331c59d4f192bbbe170e21  ...          256
3  0x6c77462e7d7fc34a7f5177f04b37cf297509fa2a  ...          256
4  0xc1d0bb46ac0e6d34dc94de4f3c64b1d1fd846bc8  ...          256

[5 rows x 3 columns]

In [28]:
time_in['time_b/w_in_txn'] = time_in['no_of_in_transactions']/time_in['total_count']
time_in.head(5)

                                      address  ...  time_b/w_in_txn
0  0x076656146d0226c60b0ac92c406e7e32dd71d666  ...    285998.046875
1  0x0409e760194055418c34045193704cc32f9ea80d  ...    227303.898438
2  0xae083ff8f14b5b831b331c59d4f192bbbe170e21  ...    202065.785156
3  0x6c77462e7d7fc34a7f5177f04b37cf297509fa2a  ...    445981.214844
4  0xc1d0bb46ac0e6d34dc94de4f3c64b1d1fd846bc8  ...    153549.269531

[5 rows x 4 columns]

In [0]:
time_in = time_in.drop('no_of_in_transactions',axis=1)
time_in = time_in.drop('total_count',axis=1)

In [30]:
time_in.isna().sum()

address            0
time_b/w_in_txn    0
dtype: int64

In [31]:
data2 = pd.merge(data1,time_in, on='address',how='inner')
data2.shape

(98230, 13)

In [32]:
data2.head(5)

                                      address  ...  time_b/w_in_txn
0  0x61b343eff40366274bf360f414d422a0dafb30e1  ...    222806.843750
1  0xee42c0affa3aef8bf92254b254faabd540899e6f  ...    102862.480469
2  0xc1d0bb46ac0e6d34dc94de4f3c64b1d1fd846bc8  ...    153549.269531
3  0x11bc4233e44e270f51ddd372471e251552f8b593  ...     82704.714844
4  0xae083ff8f14b5b831b331c59d4f192bbbe170e21  ...    202065.785156

[5 rows x 13 columns]

In [0]:
time_out = pd.read_csv('/content/gdrive/My Drive/data/avg_outgoing_trans.csv')

In [34]:
print(time_out.shape)
print(time_out.dtypes)
time_out.head(5)

(98230, 3)
address                   object
no_of_out_transactions     int64
total_out_count            int64
dtype: object

                                      address  ...  total_out_count
0  0x168a7ed63aa0219365b174a94ac24384c8b53416  ...              256
1  0x002b254abdcef1f9af4e56f0e9776bc1feea1edc  ...              256
2  0x7019cb06a837f96f6cf85c3c37eecc7878306e11  ...              256
3  0x0092ffc5168da524adfc077eb13ff105eda5dbeb  ...              256
4  0x8a88be150dc28e45150281d4cc834b7e4cb8260c  ...              256

[5 rows x 3 columns]

In [0]:
time_out['time_b/w_out_txn'] = time_out['no_of_out_transactions']/time_out['total_out_count']

Find no. of values with inf

In [36]:
len(time_out['time_b/w_out_txn'].index[np.isinf(time_out['time_b/w_out_txn'])])

0

In [0]:
time_out = time_out.drop('no_of_out_transactions',axis=1)
time_out = time_out.drop('total_out_count',axis=1)

In [38]:
time_out.head(5)

                                      address  time_b/w_out_txn
0  0x168a7ed63aa0219365b174a94ac24384c8b53416      40899.910156
1  0x002b254abdcef1f9af4e56f0e9776bc1feea1edc     191782.085938
2  0x7019cb06a837f96f6cf85c3c37eecc7878306e11     305165.156250
3  0x0092ffc5168da524adfc077eb13ff105eda5dbeb     243424.375000
4  0x8a88be150dc28e45150281d4cc834b7e4cb8260c     256885.027344

In [39]:
time_out.isna().sum()

address             0
time_b/w_out_txn    0
dtype: int64

In [40]:
data3 = pd.merge(data2,time_out, on='address',how='inner')
data3.shape

(98230, 14)

In [0]:
active_months = pd.read_csv('/content/gdrive/My Drive/data/active_months.csv')

In [43]:
print(active_months.shape)
print(active_months.dtypes)
active_months.head(5)

(98230, 2)
address          object
active_months     int64
dtype: object

                                      address  active_months
0  0x1dad7f567f6b3eecd45e9b6b97664b1b068a57e9              1
1  0xb327202255b22ae90f1de88e9d164f6acc715e3d              1
2  0x759b5506280c686cd2cab9d50db03efbe30bf739              1
3  0x06d582c0def7bca79844a308ca6e67424a806618              1
4  0xee115bcec11be4f6b8f058dd183347a4c15e9f49              1

In [44]:
data4 = pd.merge(data3,active_months, on='address',how='inner')
print(data4.shape)
data4.head(5)

(98230, 15)

                                      address  ...  active_months
0  0x61b343eff40366274bf360f414d422a0dafb30e1  ...             23
1  0xee42c0affa3aef8bf92254b254faabd540899e6f  ...             11
2  0xc1d0bb46ac0e6d34dc94de4f3c64b1d1fd846bc8  ...             16
3  0x11bc4233e44e270f51ddd372471e251552f8b593  ...              9
4  0xae083ff8f14b5b831b331c59d4f192bbbe170e21  ...             20

[5 rows x 15 columns]

**Monthly Outgoing Transactions**

In [0]:
monthly_out_txn = pd.read_csv('/content/gdrive/My Drive/data/monthly_out_trans.csv',names=['address','monthly_out_txn'])

In [0]:
monthly_out_txn = monthly_out_txn.drop([0],axis=0)

In [47]:
print(monthly_out_txn.shape)
print(monthly_out_txn.dtypes)
monthly_out_txn.head(5)

(98230, 2)
address            object
monthly_out_txn    object
dtype: object

                                      address monthly_out_txn
1  0xcdc2d99c55b7da63d776b59a33785b6066a46023               2
2  0xe75f5225c56a74bf04e8c4b2f3d36355772cddc3               2
3  0xc1b1c4b8d6fe98a8668dba5f422737566142f100               2
4  0x65b1b0391c637623a67527d75d3a87637a58457d               2
5  0x25150ae86241d8128edda5039c0fff7762d62f90               2

In [48]:
data5 = pd.merge(data4,monthly_out_txn, on='address',how='inner')
print(data5.shape)
data5.head(5)

(98230, 16)

                                      address  ...     monthly_out_txn
0  0x61b343eff40366274bf360f414d422a0dafb30e1  ...                   1
1  0xee42c0affa3aef8bf92254b254faabd540899e6f  ...                   1
2  0xc1d0bb46ac0e6d34dc94de4f3c64b1d1fd846bc8  ...  1.3333333333333333
3  0x11bc4233e44e270f51ddd372471e251552f8b593  ...  1.3333333333333333
4  0xae083ff8f14b5b831b331c59d4f192bbbe170e21  ...                   1

[5 rows x 16 columns]

In [0]:
monthly_in_txn =pd.read_csv('/content/gdrive/My Drive/data/monthy_in_trans.csv')

In [50]:
print(monthly_in_txn.shape)
print(monthly_in_txn.dtypes)
monthly_in_txn.head(5)

(98230, 2)
address            object
monthly_in_txn    float64
dtype: object

                                      address  monthly_in_txn
0  0x15fc6e3642c132e91dbce769b4dbac553d0091d4             2.0
1  0xb4b627ed0d96b5483dffb1b9bc497b933430f2cf             2.0
2  0x7ff6650479088c6e29a7496219bb80d971b4fa5b             2.0
3  0x3263ce236bcfefb762693d9c754c37ff9d16932a             2.0
4  0x54722bc4b823b9c46da6c6dc84f28df3e7eba07c             2.0

In [51]:
data = pd.merge(data5,monthly_in_txn, on='address',how='inner')
data.shape

(98230, 17)

In [52]:
data.head(5)

                                      address  ...  monthly_in_txn
0  0x61b343eff40366274bf360f414d422a0dafb30e1  ...       11.130435
1  0xee42c0affa3aef8bf92254b254faabd540899e6f  ...       23.272727
2  0xc1d0bb46ac0e6d34dc94de4f3c64b1d1fd846bc8  ...       16.000000
3  0x11bc4233e44e270f51ddd372471e251552f8b593  ...       28.444444
4  0xae083ff8f14b5b831b331c59d4f192bbbe170e21  ...       12.800000

[5 rows x 17 columns]

**Drop unnecessary columns**

In [0]:
#data = data.drop('tax_type_x',axis=1)
#data = data.drop('tax_type_y',axis=1)
data = data.drop('tot_distinct_tokens_recieved',axis=1)
data = data.drop('tot_tokens_recieved',axis=1)
data = data.drop('tot_distinct_tokens_sent',axis=1)
data = data.drop('tot_tokens_sent',axis=1)

In [55]:
print(data.shape)
print(data.dtypes)

(98230, 13)
address                      object
no_of_out_transactions        int64
tot_ether_sent               object
no_of_in_transactions         int64
tot_ether_recieved           object
eth_balance                  object
tot_token_value_recieved    float64
tot_token_value_sent        float64
time_b/w_in_txn             float64
time_b/w_out_txn            float64
active_months                 int64
monthly_out_txn              object
monthly_in_txn              float64
dtype: object

In [0]:
data['eth_balance'] = pd.to_numeric(data['eth_balance'], downcast="float",errors='coerce')
data['monthly_out_txn'] = pd.to_numeric(data['monthly_out_txn'], downcast="float",errors='coerce')

In [0]:
data['tot_ether_sent'] = pd.to_numeric(data['tot_ether_sent'], downcast="float",errors='coerce')
data['tot_ether_recieved'] = pd.to_numeric(data['tot_ether_recieved'], downcast="float",errors='coerce')

In [0]:
data['monthly_ether_sent']=0
data['monthly_ether_recieved']=0
data['monthly_ether_sent']= data['tot_ether_sent' ].div(data['active_months'])
data['monthly_ether_recieved']= data['tot_ether_recieved'].div(data['active_months'])

In [59]:
print('inf in monthly_ether_sent',len(data['tot_ether_recieved'].index[np.isinf(data['tot_ether_recieved'])]))
print('inf in monthly_ether_recieved',len(data['tot_ether_sent'].index[np.isinf(data['tot_ether_sent'])]))

inf in monthly_ether_sent 0
inf in monthly_ether_recieved 0

**wei to ether conversion**  - Some attributes in the table are all in wei.They are converted to ether using the conversion: 1 ether = 1x10^18 wei

In [60]:
wei = pow(10,18) 
attributes = ['eth_balance', 'tot_ether_recieved', 'tot_ether_sent', 'tot_token_value_recieved','tot_token_value_sent', 'monthly_ether_sent', 'monthly_ether_recieved']
for attr in attributes:
  if data[attr].dtype == 'object':
    data[attr] = pd.to_numeric(data[attr], errors='coerce')
  data[attr] = data[attr].div(wei)

data.head(10)

                                      address  ...  monthly_ether_recieved
0  0x61b343eff40366274bf360f414d422a0dafb30e1  ...                3.045829
1  0xee42c0affa3aef8bf92254b254faabd540899e6f  ...                0.778694
2  0xc1d0bb46ac0e6d34dc94de4f3c64b1d1fd846bc8  ...                2.045781
3  0x11bc4233e44e270f51ddd372471e251552f8b593  ...                1.494601
4  0xae083ff8f14b5b831b331c59d4f192bbbe170e21  ...                3.524703
5  0x52bb304f4cc3b1f70ad8591d01263552f2bc4f18  ...                2.769952
6  0x076656146d0226c60b0ac92c406e7e32dd71d666  ...                0.448162
7  0x44c2254cafc4340a53c0389465f8996312a8a7c0  ...                1.350183
8  0x014f913ebfdc5eb882db8f19e985362ea530228a  ...                4.694963
9  0x076f28dabd1fb2287ded34f22963d1712f75aa4b  ...                6.977324

[10 rows x 15 columns]

In [62]:
data.isna().sum()

address                     0
no_of_out_transactions      0
tot_ether_sent              0
no_of_in_transactions       0
tot_ether_recieved          0
eth_balance                 0
tot_token_value_recieved    0
tot_token_value_sent        0
time_b/w_in_txn             0
time_b/w_out_txn            0
active_months               0
monthly_out_txn             0
monthly_in_txn              0
monthly_ether_sent          0
monthly_ether_recieved      0
dtype: int64

In [0]:
data['eth_balance'] = pd.to_numeric(data['eth_balance'],errors='coerce')
data['monthly_out_txn'] = pd.to_numeric(data['monthly_out_txn'],errors='coerce')

In [64]:
data.dtypes

address                      object
no_of_out_transactions        int64
tot_ether_sent              float32
no_of_in_transactions         int64
tot_ether_recieved          float32
eth_balance                 float32
tot_token_value_recieved    float64
tot_token_value_sent        float64
time_b/w_in_txn             float64
time_b/w_out_txn            float64
active_months                 int64
monthly_out_txn             float32
monthly_in_txn              float64
monthly_ether_sent          float64
monthly_ether_recieved      float64
dtype: object

In [0]:
data.to_csv(r'/content/gdrive/My Drive/data/final_data.csv', index = False)